.about-tabs {
  padding-bottom: 10rem;
}

.about-tabs-header {
  margin: 8.6rem 0 1.6rem 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 130%;
}

.about-tabs-subheader {
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 6rem;
}

.about-tab {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 4rem;
  color: rgba(#6b6b74, 0.3);
  cursor: pointer;
  border-bottom: 3px solid rgba(#6b6b74, 0.1);

  &--active {
    color: $black;
    border-bottom: 3px solid $color-primary;
  }

  &:focus {
    outline: none;
  }
}

.about-tabs--section {
  .about-tabs--content {
    display: none;
  }

  .about-tabs--content--active {
    display: flex;
  }
}

.about-tabs--list__item {
  font-size: 1.5rem;
  line-height: 130%;
  list-style: none;
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;

  &::before {
    content: url(../img/dot.png);
    position: absolute;
    top: -0.3rem;
    left: -1.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .about-tabs-header {
    margin: 7.6rem 0 1.6rem 5rem;
    font-size: 3rem;
    line-height: 105.2%;
  }

  .about-tabs-subheader {
    margin-left: 5rem;
  }

  .about-tabs--section {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 640px) {
  .about-tabs-header {
    margin: 6rem 2rem 2rem 2rem;
    font-size: 2rem;
  }

  .about-tabs-subheader {
    margin-left: 2rem;
  }

  .about-tabs--section {
    padding: 0 2rem;
  }
}
