.architecture {
  background: $white;
}

.architecture-header {
  padding-top: 8.6rem;
  padding-bottom: 4.6rem;
}

.architecture-heading {
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 3.3rem;
  text-align: center;
}

.architecture-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .left-content {
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    .left-content-text {
      font-family: Gerbera;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
    }
  }
}

.architecture-center {
  .center-left {
    border-left: 2px solid rgba(#a2a2a2, 0.5);
    padding-left: 3rem;
    padding-right: 1.5rem;

    .center-left-top {
      border: 1px solid $color-primary;
      padding: 1.5rem 2rem;
      margin-bottom: 1.2rem;
      h6 {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
      }
      p {
        font-size: 15px;
        line-height: 130%;
        color: #6b6b74;
        text-align: center;
      }
    }

    .center-left-item {
      font-size: 15px;
      line-height: 130%;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
      position: relative;

      &::before {
        content: url(../img/dot.png);
        position: absolute;
        top: -0.25rem;
        left: -1.5rem;
      }
    }
  }
  .center-right {
    border-right: 2px solid rgba(#a2a2a2, 0.5);
    padding-left: 1.5rem;
    padding-right: 3rem;

    .center-right-top {
      border: 1px solid $color-primary;
      padding: 1.5rem 2rem;
      margin-bottom: 1.2rem;
      h6 {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
      }
      p {
        font-size: 15px;
        line-height: 130%;
        color: #6b6b74;
        text-align: center;
      }
    }

    .center-right-item {
      font-size: 15px;
      line-height: 130%;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
      position: relative;

      &::before {
        content: url(../img/dot.png);
        position: absolute;
        top: -0.25rem;
        left: -1.5rem;
      }
    }
  }

  .center-bottom {
    border-left: 2px solid rgba(#a2a2a2, 0.5);
    border-right: 2px solid rgba(#a2a2a2, 0.5);
    padding: 0 3rem;

    &--content {
      padding: 2rem;
      border: 1px solid $color-primary;

      h6 {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 1rem;
      }

      p {
        font-size: 15px;
        line-height: 130%;
        text-align: center;
      }
    }
  }
}

.architecture-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .right-content {
    margin: 0 auto;

    .right-content-text {
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      margin-bottom: 1rem;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .right-content-bottom {
    margin: 0 auto;

    .right-content-bottom-text {
      font-size: 18px;
      line-height: 150%;
      text-align: center;
    }
  }
}

.architecture-bottom {
  margin-top: 6.4rem;
  margin-bottom: 10rem;

  &--heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 1.3rem;
  }

  &--text {
    font-size: 18px;
    line-height: 150%;

    margin-left: 2rem;
    position: relative;

    &::before {
      content: url(../img/dot.png);
      position: absolute;
      top: -0.3rem;
      left: -2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .architecture-header {
    padding-top: 7.4rem;
    padding-bottom: 7rem;
    padding-left: 5rem;
  }

  .architecture-wrapper {
    padding: 0 5rem;
  }

  .architecture-center {
    .center-left {
      padding-left: 1rem;
      padding-right: 0.5rem;

      .center-left-top {
        padding: 1.5rem 0rem;
      }
    }

    .center-right {
      padding-right: 1rem;
      padding-left: 0.5rem;

      .center-right-top {
        padding: 1.5rem 0rem;
      }
    }

    .center-bottom {
      padding-left: 1rem;
      padding-right: 1rem;

      &--content {
        padding: 1.1rem 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .architecture-heading {
    font-size: 2rem;
  }

  .architecture-wrapper {
    // padding: 0 0rem;
  }

  .architecture-left {
    .left-content {
      img {
        // width: 2rem;
      }

      .left-content-text {
        font-size: 1.6rem;
      }
    }
  }

  .architecture-center {
    .center-left {
      padding-left: 0.5rem;

      .center-left-top {
        h6 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.1rem;
        }
      }

      .center-left-item {
        font-size: 1.1rem;
        margin-left: 0.5rem;

        &::before {
          display: none;
        }
      }
    }

    .center-right {
      padding-right: 0.5rem;

      .center-right-top {
        h6 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.1rem;
        }
      }
      .center-right-item {
        font-size: 1.1rem;
        margin-left: 0.5rem;

        &::before {
          display: none;
        }
      }
    }

    .center-bottom {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .center-bottom--content {
        h6 {
          font-size: 1.6rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }
  }

  .architecture-right {
    .right-content {
      .right-content-text {
        font-size: 1.6rem;
      }
    }

    .right-content-bottom {
      .right-content-bottom-text {
        font-size: 1.6rem;
      }
    }
  }

  .architecture-bottom {
    margin-bottom: 8rem;

    &--heading {
      margin-bottom: 1.5rem;
    }

    &--text {
      font-size: 1.6rem;
      line-height: 130%;
      margin-bottom: 1.5rem;
      margin-left: 2rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .architecture-header {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 0.5rem;
  }

  .architecture-heading {
    // text-align: left;
    // margin-bottom: 2.1rem;
    font-size: 0.8rem;
  }

  .architecture-container {
    // overflow-x: scroll;
  }

  .architecture-wrapper {
    padding: 0 0rem;
    // width: 992px;
  }

  .architecture-left {
    .left-content {
      // display: flex;
      // align-items: center;

      img {
        width: 2rem;
      }

      .left-content-text {
        // text-align: left;
        // margin-left: 2.7rem;
        font-size: 0.8rem;
      }
    }
  }

  .architecture-center {
    .center-left {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      // border: none;
      .center-left-top {
        h6 {
          font-size: 0.7rem;
        }

        p {
          font-size: 0.5rem;
        }
      }

      .center-left-item {
        font-size: 0.6rem;
        margin-left: 0.5rem;

        &::before {
          display: none;
        }
      }
    }

    .center-right {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      // border: none;

      .center-right-top {
        h6 {
          font-size: 0.7rem;
        }

        p {
          font-size: 0.5rem;
        }
      }
      .center-right-item {
        font-size: 0.6rem;
        margin-left: 0.5rem;

        &::before {
          display: none;
        }
      }
    }

    .center-bottom {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      // border: none;
      // margin-bottom: 3.7rem;

      .center-bottom--content {
        h6 {
          font-size: 0.8rem;
        }

        p {
          font-size: 0.6rem;
        }
      }
    }
  }

  .architecture-right {
    // align-items: flex-start;

    .right-content {
      // margin: 0;

      .right-content-text {
        font-size: 0.8rem;
        // text-align: left;
      }

      img {
        // margin: 0;
        // margin-bottom: 4rem;
        width: 5rem;
      }
    }

    .right-content-bottom {
      // margin: 0;

      .right-content-bottom-text {
        font-size: 0.7rem;
        // text-align: left;
      }
    }
  }

  .architecture-bottom {
    margin-bottom: 8rem;

    &--heading {
      margin-bottom: 1.5rem;
    }

    &--text {
      font-size: 1.5rem;
      line-height: 130%;
      margin-bottom: 1.5rem;
      margin-left: 2rem;
    }
  }
}
