.about-intro {
  margin-top: 8rem;
}

.about-intro-left {
  &__header {
    margin-bottom: 8rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 3rem;
  }

  &__text2 {
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 12rem;

    span {
      font-weight: 900;
      color: $color-primary;
    }
  }
}

.about-intro-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__img {
    transform: scale(1.21);
    // height: 450px;
    // width: 710px;
    // margin-top: auto;
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 1024px) {
  .about-intro-left__header {
    margin-bottom: 5.6rem;
    margin-left: 5rem;
  }

  .about-intro-left__text {
    margin-left: 5rem;
  }
  .about-intro-left__text2 {
    margin-left: 5rem;
  }

  .about-intro-right__img {
    transform: scale(1);
  }
}
