.cite {
  background-color: $white;

  padding: 9rem 20rem;
}

.cite-logo {
  margin-bottom: 10rem;
}

.cite-quote {
  margin-bottom: 4rem;
  position: relative;

  .quote-wrapper {
    position: absolute;
    top: -3rem;
    left: -10rem;
    // z-index: -1;
  }

  .quote-icon {
    mix-blend-mode: multiply;
    z-index: -1;
  }

  .quote {
    font-size: 3rem;
    line-height: 140%;
  }
}

.cite-cred {
  display: flex;
  align-items: center;

  .img-container {
    margin-right: 3rem;

    img {
      border-radius: 50%;
    }
  }

  .cite-cred--container {
    h6 {
      font-size: 2rem;
      line-height: 2.3rem;
      font-weight: bold;
    }

    p {
      font-size: 2rem;
      line-height: 120%;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .cite {
    padding: 7rem 13rem;
  }

  .cite-logo {
    img {
      width: 36rem;
      height: auto;
    }
  }

  .img-container {
    img {
      width: 12.5rem;
      height: auto;
    }
  }
}
