.deadline {
  display: flex;
  // justify-content: space-around;

  .deadline-format {
    padding: 1.5rem 2.5rem;
    width: 10.4rem;
    height: 12.55rem;

    /* Black */

    border: 1px solid rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    // background-color: $dark-gray;
    margin-right: 1.8rem;

    .deadline-block {
      text-align: center;
      h5 {
        margin: 0;
        font-size: 5rem;
        line-height: 5.9rem;
      }
      span {
        font-size: 2.43rem;
        line-height: 2.9rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .deadline .deadline-format {
    width: 9.8rem;
    height: 12rem;
  }
}
