.grant-intro-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grant-intro-container-right {
  &__img {
    mix-blend-mode: multiply;
    // transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

@media only screen and (max-width: 1024px) {
  .grant-intro-container-left {
    padding-left: 5rem;
  }
}
