.grant-notice {
  background: $white;
  padding-top: 3.2rem;
  padding-bottom: 3rem;
}

.grant-notice-logo {
  margin-bottom: 2.4rem;
}

.grant-notice-text {
  padding-right: 15rem;
  padding-left: 8rem;

  &__notice {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .grant-notice {
    padding-left: 5rem;
  }

  .grant-notice-text {
    padding: 0 3rem 0 8rem;
  }
}
