.grant-notice {
  background: $white;
  padding-top: 3.2rem;
  padding-bottom: 3rem;
}

.grant-notice-logo {
  margin-bottom: 2.4rem;
}

.grant-notice-text {
  padding-right: 15rem;
  padding-left: 8rem;

  &__notice {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}

.grant-link-notice {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #808080;
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;

  img {
    margin-right: 1.5rem;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

@media only screen and (max-width: 1024px) {
  .grant-notice {
    padding-left: 5rem;
  }

  .grant-notice-text {
    padding: 0 3rem 0 8rem;
  }
}

@media only screen and (max-width: 640px) {
  .grant-notice {
    padding-left: 2rem;
  }

  .grant-notice-text {
    padding: 0 3rem 0 1rem;

    &__notice {
      font-size: 1.5rem;
      line-height: 140%;
    }
  }
}
