.grant-intro {
  background: $light-gray;
  margin-top: 12.5rem;
}

.grant-intro-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grant-intro-container-right {
  &__img {
    mix-blend-mode: multiply;
  }
}

@media only screen and (max-width: 1024px) {
  .grant-intro-container-left {
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 640px) {
  .grant-intro {
    margin-top: 6.5rem;
  }

  .grant-intro-container-left {
    padding-left: 2rem;
  }

  .grant-intro__header {
    margin-top: 5rem;
    padding-right: 2rem;
    margin-bottom: 0;
  }
}
