.grant-firststep-right {
  &__header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;

    &--stepline {
      display: flex;
      flex-direction: column;
    }
  }

  &__line {
    border: 1px solid $black;
    height: 100%;
    width: 1px;
    margin-left: 3rem;

    position: relative;
  }

  &__line-dot::after {
    content: url(../img/Ellipse.png);
    position: absolute;
    top: -3px;
    left: -7.8px;
  }

  &__step {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: $color-primary;
    margin-right: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__heading {
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__list {
    list-style: none;
    margin: 0;
  }
}

.grant-firststep-header {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.grant-header {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.3rem;

  &--warning {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-left: 4rem;
    margin-right: 12rem;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -4rem;
      height: 100%;
      width: 0.6rem;
      background: $color-primary;
    }
  }

  &--link {
    font-size: 2rem;
    line-height: 2.3rem;
    color: $black;
    transition: all 0.2s;
    margin-bottom: 3.5rem;
    margin-left: 8rem;
    position: relative;

    &:hover,
    &:focus {
      color: $color-primary;
    }

    &::before {
      content: url(../img/icon-rinkce.png);
      position: absolute;
      top: 0;
      left: -8rem;
      width: 6rem;
      height: 6rem;
      transform: translateY(-35%);
    }
  }
}

.grant-firststep-right__list-item {
  &--top {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
  }

  &--line {
    border: 1px solid $black;
    margin-left: 3rem;
  }

  &--header {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
    margin-left: 11rem;

    position: relative;

    cursor: pointer;

    &::before {
      content: url(../img/icon-require-arrowup.png);
      margin-right: 1.7rem;
      position: absolute;
      top: 0;
      left: -3.7rem;
      transition: all 0.3s ease-in-out;
    }
  }

  &--header._close {
    &::before {
      transform: rotate(-180deg);
    }
  }

  &--header-down {
    &::before {
      transform: rotate(180deg);
    }
  }

  &--list {
    list-style: none;
    background: $white;
    margin: 0;
  }

  &--item {
    font-size: 1.8rem;
    line-height: 2.1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;

    .line {
      border: 1px solid $black;
      display: inline;
      margin-left: 3rem;
      margin-right: 11rem;
    }

    .height {
      height: 4.5rem;
    }

    .text {
      margin-bottom: 1.5rem;
      position: relative;
      margin-left: 2rem;

      &::before {
        content: url(../img/dot2.png);
        margin-right: 0rem;
        position: absolute;
        top: 1rem;
        left: -2rem;
        line-height: 0.5rem;
      }
    }
  }
}

.grant-firststep-right__heading {
  span {
    color: $color-primary;
  }
}

.grant-firststep-right--items {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.line--opacity {
  opacity: 0;
}

.grant-firststep-right__list-item--line-dotbot {
  margin-bottom: 2rem;
  position: relative;

  &::after {
    content: url(../img/Ellipse.png);
    position: absolute;
    height: 18px;
    bottom: -8px;
    left: -7.8px;
  }
}

@media only screen and (max-width: 1024px) {
  .grant-firststep-header {
    margin-left: 5rem;
  }

  .grant-firststep-right__header {
    padding-left: 5rem;
  }

  .grant-firststep-right__list-item--top {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .grant-firststep-right__list-item--list {
    padding-left: 3.5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 640px) {
  .grant-firststep-header {
    margin-left: 2rem;
    margin-bottom: 3rem;
  }

  .grant-firststep-right__header {
    padding-left: 2rem;
  }

  .grant-firststep-right__list-item--top {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .grant-firststep-right__list-item--list {
    padding-left: 0.5rem;
    padding-right: 2rem;
  }

  .grant-firststep-right__step {
    margin-right: 4rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .grant-firststep-right__line,
  .grant-firststep-right__line-dot {
    display: none;
  }

  .grant-firststep-right__list-item--line {
    display: none;
  }

  .grant-firststep-right__list-item--line {
    display: none;
  }

  .grant-firststep-right__list-item--item .line {
    display: none;
  }

  .grant-firststep-right__list-item--header {
    margin-left: 4rem;
  }

  .grant-firststep-right__header {
    flex-direction: column;
  }

  .grant-firststep-right__list-item--item .text {
    margin-bottom: 2rem;
  }

  .grant-header--warning {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    &::before {
      left: -2rem;
    }
  }
}
