.intro {
  padding: 0;
  height: 600px;
}

.intro-left {
  .intro-heading {
    font-size: 50px;
    line-height: 105.2%;
    font-weight: bold;

    margin: 35% 0 7rem 0;
  }
}

.intro-right {
  display: flex;
  align-items: center;
  justify-content: center;

  // overflow: hidden;

  img {
    // transform: rotate(95deg);
    transform: scale(1.2);
    // width: 100%;
    // height: auto;
    z-index: -1;
  }
}
