.intro {
  padding: 0;
  height: 60rem;
}

.intro-left {
  display: flex;
  // justify-content: center;
  align-items: center;

  .intro-heading {
    font-size: 5rem;
    line-height: 105.2%;
    font-weight: bold;

    margin: 0% 0 7rem 0;
  }
}

.intro-right {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transform: scale(1.2);
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px) {
  .intro {
    height: 50rem;
  }

  .intro-left {
    padding-left: 5rem;
    .intro-heading {
      font-size: 4rem;
    }
  }

  .intro-right {
    img {
      transform: scale(1);
    }
  }
}
