.news-smi {
  // height: 66rem;
  background: $white;
  padding-bottom: 10rem;
}

.news-smi__header {
  padding-top: 8.5rem;
  padding-bottom: 6.3rem;
}

.news-smi--items--item {
  &__date {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $dark-gray;

    margin-bottom: 2.2rem;
  }

  &__header {
    margin-bottom: 1.1rem;
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #222222;

    margin-bottom: 2.2rem;
  }
}
