.uni-news {
  padding-bottom: 8rem;
  &__header {
    margin-top: 8.5rem;
    margin-bottom: 5.5rem;
  }
}

.uni-news-item {
  background: $white;
  position: relative;
  // margin-right: 15px;
  height: 44.4rem;

  &__img {
    min-height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30rem;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__date {
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    color: $dark-gray;
    margin-left: 4rem;
    margin-bottom: 2.2rem;
    margin-top: 2.2rem;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 130%;
    margin-left: 4rem;
    // margin-bottom: 8rem;
  }

  &__btn {
    margin-left: 4rem;
    // margin-bottom: 3.1rem;
    position: absolute;
    // left: 4rem;
    bottom: 3.2rem;
  }
}

.owl-nav {
  // background: $white;
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 4.5rem;
  font-weight: 300;
  color: $color-primary;
  transform: translateY(65%);
}

.owl-prev {
  margin-right: 2rem;
}
.owl-next {
  margin-right: 2rem;
}

.owl-dots {
  .active {
    color: $color-primary;
  }
}

.owl-dot {
  background: #c4c4c4;
}

@media only screen and (max-width: 1024px) {
  .uni-news__header {
    margin-top: 7.5rem;
    margin-bottom: 4.5rem;
    margin-left: 5rem;
  }

  .uni-news-items {
    padding: 0 5rem;
  }

  .uni-news-item {
    height: 40rem;
  }

  .uni-news-item__img {
    min-height: 18rem;
  }

  .uni-news-item__date {
    margin-left: 3rem;
  }

  .uni-news-item__text {
    // margin: 0 3rem;
    margin-left: 3rem;
  }

  .uni-news-item__btn {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 640px) {
  .uni-news__header {
    margin-top: 6rem;
    margin-bottom: 3.5rem;
    margin-left: 2rem;
  }

  .uni-news-items {
    padding: 0 2rem;
  }
}
