.selection-rules {
  min-height: 68rem;

  position: relative;

  background: linear-gradient(124.37deg, #f8f8fa 29.69%, #ededef 89.67%);

  padding: 8.5rem 12rem;

  .selection-rules-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
      mix-blend-mode: multiply;
      opacity: 0.8;
      z-index: -1;
    }
  }
}

.selection-rules-right {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding-right: 10rem;

  z-index: 1;

  &__header {
    color: $color-primary;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    line-height: 113.7%;

    margin-bottom: 2rem;

    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__text {
    font-size: 3rem;
    line-height: 140%;

    margin-bottom: 10rem;
  }

  &__btn {
    text-align: left;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $color-primary;

    cursor: pointer;

    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-primary;
    }

    img {
      margin-left: 3px;
      transform: translateY(-1.5px);
      // width: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .selection-rules {
    min-height: 55rem;
    padding: 7.5rem 4rem;
  }

  .selection-rules-wrapper img {
    width: 67rem;
    height: auto;
  }

  .selection-rules__header {
    font-size: 4rem;
  }

  .selection-rules-right {
    padding-right: 0rem;
  }
}
