.submit {
  min-height: 68rem;
  background: url(../img/hand-orig.png), $white;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
}

.submit-container {
  // height: 100%;
  padding-top: 13rem;
}

.submit-left {
  &__header {
    font-size: 3.32rem;
    line-height: 3.9rem;
    margin-bottom: 2.5rem;
  }

  .btn-submit {
    margin-top: 9.5rem;
    margin-bottom: 10.8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .submit {
    min-height: 55.3rem;
    background-size: 57%;
  }

  .submit-container {
    padding-top: 7.4rem;
  }

  .submit-left {
    padding-left: 3.5rem;
  }

  .submit-left__header {
    margin-bottom: 3.7rem;
    padding-right: 15rem;
  }

  .submit-left .btn-submit {
    margin-top: 7.4rem;
  }
}

@media only screen and (max-width: 640px) {
  .submit {
    min-height: 45rem;
    background-size: 0%;
  }

  .submit-header {
    padding-left: 2rem;
    margin-bottom: 2.6rem;
  }

  .submit-left {
    padding-left: 2rem;
  }

  .submit-left__header {
    padding-right: 8rem;
    margin-bottom: 2.6rem;
  }

  .submit-left .btn-submit {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
}
