.header {
  font-weight: bold;
  font-size: 5rem;
  line-height: 120%;
}

.header-small {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 110%;
}

.header-tiny {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.3rem;
}

.btn-main {
  width: 23.2rem;
  height: 4.7rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  background: #6b6b74;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 3.6rem;
  transition: all 0.2s;

  img {
    margin-left: 5px;
    transform: translateY(-1.6px);
  }

  &:hover {
    background: $color-primary;
  }
}

.news-item__btn {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  &::after {
    content: url(../../assets/img/btn-union-red.png);
    margin-left: 5px;
  }

  img {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    transform: translateY(-1.6px);
  }
}

.grant-link {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #808080;
  display: flex;
  align-items: center;

  height: 8rem;
  // padding-bottom: 2rem;

  img {
    margin-right: 1.5rem;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.year {
  font-size: 135.577px;
  line-height: 105.2%;
  color: $color-primary;
}

.news-container2 .news-item2.hidden2 {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 4rem;
    line-height: 105.2%;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    font-size: 3rem;
  }
}

.section {
  transition: all 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}
