.header {
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
}

.header-small {
  font-size: 22px;
  font-weight: 500;
  line-height: 110%;
}

.header-tiny {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
}

.btn-main {
  width: 232px;
  height: 47px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background: $color-primary;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;

  img {
    margin-left: 5px;
    transform: translateY(-1.6px);
  }
}

.news-item__btn {
  font-size: 14px;
  line-height: 16px;
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  &::after {
    content: url(../../assets/img/btn-union-red.png);
    margin-left: 5px;
    // font-weight: 500;
    // position: absolute;
    // right: 0;
    // top: 0;
    // background-image: url(../../img/btn-union-red.png);
    // background-size: cover;
    // width: 10px;
    // height: 10px;
    // font-family: FontAwesome;
  }

  img {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    transform: translateY(-1.6px);
  }
}
