///////////////////////////////
// new nav

body._lock {
  overflow: hidden;
}

.nav-header {
  position: absolute;

  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $light-gray;
}
._sticky {
  position: fixed;
  top: 0;
  background-color: rgba($color: #fff, $alpha: 1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.2rem 0;
}

.logo {
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__search {
  display: none;
}

.menu__list {
  list-style: none;
  margin: 0;
}

.menu__link {
  margin-left: 4.6rem;
  font-size: 1.6rem;
  line-height: 1.9rem;

  a {
    color: $black;
    transition: all 0.2s;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }

  &--search {
    margin-left: 2.6rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1024px) {
  .nav .logo {
    width: 24.6rem;
    height: auto;

    margin-left: 5rem;
  }
  .menu__body {
    position: fixed;
    top: 4.8rem;
    right: -100%;
    width: 100%;
    height: 100%;
    background: rgba($white, 1);
    padding: 12.5rem 0 0 0;
    transition: all 0.3s ease 0s;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__body._active {
    right: 0;
  }

  .menu__search {
    display: flex;
    width: 100%;
    padding: 0 6rem;
    margin: 0;
    align-items: center;
  }

  .menu__search .menu__search--search {
    margin: 0;
    background: #e1e4e8;
    opacity: 0.3;
    border-radius: 3px;
    border: none;
    padding: 0.8rem 1.4rem;
    margin-right: -2.6rem;

    &:focus {
      outline: none;
      background: #e1e4e8;
      color: $black !important;
    }
  }

  .menu__btn {
    width: 1.3rem;
    height: 1.4rem;
  }

  .menu__link {
    margin: 0;
    margin-top: 4.6rem;
    text-align: center;
  }

  .menu__link--en {
    position: relative;
    height: 23px;
    width: 67px;
    margin: 0 auto;
    margin-top: 4.6rem;

    .ru {
      color: $black;
      position: absolute;
      top: 0;
      left: 0;
      // z-index: 1;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1;
      overflow: hidden;
    }

    .en {
      color: $dark-gray;

      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1;
    }

    .check {
      position: relative;
      width: 50px;
      opacity: 0.5;
      border: none;

      &:before {
        content: '';
        position: absolute;
        width: 67px;
        height: 23px;
        background: #e1e4e8;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
      }

      &:checked:before {
        background: #e1e4e8;
        border-radius: 3px;
      }

      &:after {
        content: '';
        position: absolute;
        width: 33.5px;
        height: 23px;
        background: $dark-gray;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;
      }

      &:checked:after {
        left: 33.5px;
      }
    }
  }

  .menu__link--search {
    display: none;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 2.2rem;
    height: 1.9rem;
    cursor: pointer;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 0.3rem;
    width: 2.2rem;
    transition: all 0.3s ease-in-out;
    background-color: $black;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon span {
    transform: scale(1);
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -60%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 60%);
  }
}

@media (min-width: 1024px) {
  .menu__list {
    display: flex;
    align-items: flex-start;
  }

  .menu__link--en {
    position: relative;
    height: 23px;
    width: 67px;
    overflow: hidden;
    margin-left: 2.5rem;
    transform: translateY(-0.2rem);

    .ru {
      color: $black;
      position: absolute;
      top: 0;
      left: 0;
      // z-index: 1;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1;
    }

    .en {
      color: $black;

      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1;
    }

    .check {
      position: relative;
      width: 50px;
      opacity: 0.5;

      &:before {
        content: '';
        position: absolute;
        width: 67px;
        height: 23px;
        background: #e1e4e8;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
      }

      &:checked:before {
        background: #e1e4e8;
        border-radius: 3px;
      }

      &:after {
        content: '';
        position: absolute;
        width: 33.5px;
        height: 23px;
        background: $white;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;
      }

      &:checked:after {
        left: 33.5px;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .nav .logo {
    width: 18rem;
    margin-left: 2rem;
  }

  .menu__icon {
    margin-right: 2rem;
  }

  .menu__search {
    display: flex;
    width: 100%;
    padding: 0 3rem;
    margin: 0;
    align-items: center;
  }
}
