.nav {
  padding: 3.2rem 0;
  position: absolute;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // max-width: 1410px;
  // margin: 0 auto;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  // margin-right: 7%;

  display: flex;

  .nav-search {
    margin-left: 2.6rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.nav-link {
  margin-left: 4.6rem;
  font-size: 1.6rem;
  line-height: 1.9rem;

  a {
    color: $black;
    transition: all 0.2s;

    &:hover {
      color: $color-primary;
    }

    &:focus {
      color: $color-primary;
    }
  }
}

.burger {
  color: $black;
  font-size: 2.6rem;
  margin-right: 5rem;
}

.off-nav-links {
  list-style: none;
  margin-top: 5rem;
}

.off-nav-link {
  margin-bottom: 2.6rem;
  a {
    color: $black;
    font-size: 1.6rem;
    line-height: 1.9rem;
    transition: all 0.2s;

    &:hover,
    &:focus {
      color: $color-primary;
      border: none;
      outline: none;
    }
  }
}

.sticky2 {
  position: fixed;
  top: 0;
  // left: 0;
  background-color: rgba($color: #fff, $alpha: 0.9);
  z-index: 10;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .nav .logo {
    width: 24.6rem;
    height: auto;

    margin-left: 5rem;
  }

  .nav-links {
    display: none;
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 640px) {
  .nav .logo {
    width: 18rem;
    margin-left: 2rem;
  }

  .burger {
    margin-right: 2rem;
  }
}
