<section class="about-accordeon section">
  <div class="about-accordeon__items grid-container grid-x">
    <h2 class="header about-accordeon__header cell small-12">
      Задачи программы
    </h2>
    <div class="accordeon cell medium-7">
      <div class="accordeon__item">
        <button class="accordeon__head open">Для страны</button>
        <div class="accordeon__collapse collapse open">
          <div class="accordeon__content">
            <!-- <img class="acc-img-1" src="../assets/img/about-acc-1.png" alt="" /> -->
            <p class="accordeon__text">
              увеличение доли российской науки на&nbsp;глобальном рынке
              исследований и&nbsp;разработок
            </p>
            <p class="accordeon__text">
              обеспечение привлекательности работы в&nbsp;России
              для&nbsp;ведущих ученых и&nbsp;молодых перспективных
              исследователей
            </p>
            <p class="accordeon__text">
              кадровое обеспечение приоритетных направлений развития науки,
              технологий, техники, отраслей экономики, социальной сферы
            </p>
            <p class="accordeon__text">
              использование научного, образовательного и&nbsp;инновационного
              потенциала университетов для&nbsp;сокращения срока внедрения
              инноваций в&nbsp;экономику страны и&nbsp;субъектов РФ
            </p>
          </div>
        </div>
      </div>

      <div class="accordeon__item">
        <button class="accordeon__head">Для университетов</button>
        <div class="accordeon__collapse collapse">
          <div class="accordeon__content">
            <!-- <img class="acc-img-2" src="../assets/img/about-acc-2.png" alt="" /> -->
            <p class="accordeon__text">
              повышение научно-технологического потенциала российских
              университетов для&nbsp;создания новых технологий, отраслей
              и&nbsp;конкурентоспособных продуктов
            </p>
            <p class="accordeon__text">
              расширение межинституционального сетевого взаимодействия
            </p>
            <p class="accordeon__text">
              интеграция академической и&nbsp;университетской науки
              и&nbsp;международная кооперация
            </p>
          </div>
        </div>
      </div>

      <div class="accordeon__item">
        <button class="accordeon__head">Для общества</button>
        <div class="accordeon__collapse collapse">
          <div class="accordeon__content">
            <!-- <img class="acc-img-3" src="../assets/img/about-acc-3.png" alt="" /> -->
            <p class="accordeon__text">
              обеспечение условий для&nbsp;формирования цифровых компетенций
              и&nbsp;навыков использования цифровых технологий
              у&nbsp;обучающихся, в&nbsp;том&nbsp;числе у&nbsp;студентов
              ИТ-специальностей
            </p>
            <p class="accordeon__text">
              повышение качества и&nbsp;востребованности образовательных,
              научно-технических, социальных услуг российских университетов
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="about-accordeon-img cell medium-5">
      <img class="acc-img-1" src="../assets/img/about-acc-1.png" alt="" />
      <img
        class="acc-img-2 hidden"
        src="../assets/img/about-acc-2.png"
        alt=""
      />
      <img
        class="acc-img-3 hidden"
        src="../assets/img/about-acc-3.png"
        alt=""
      />
    </div>
  </div>
</section>
