<section class="about-intro intro grid-container grid-x">
  <div class="about-intro-left cell medium-6 small-12">
    <h2 class="header about-intro-left__header">О программе</h2>
    <p class="about-intro-left__text">
      В центре программы «ПРИОРИТЕТ-2О3О» (Программа Развития Исследований,
      Образования, Разработок, Инноваций, Технологий и&nbsp;Территорий) –
      развитие всей высшей школы и&nbsp;науки в стране на&nbsp;следующие
      9&nbsp;лет
    </p>
    <p class="about-intro-left__text2">
      <span>Целеполагание к 2О3О</span> – сформировать в&nbsp;России более 1ОО
      прогрессивных современных университетов – центров научно-технологического
      и социально-экономического развития страны
    </p>
  </div>
  <div class="about-intro-right cell medium-6 small-12">
    <img
      class="about-intro-right__img"
      src="../assets/img/about-intro.png"
      alt=""
    />
  </div>
</section>
