<section class="about-tasks">
  <div class="grid-container">
    <h2 class="header about-tasks__header">Задачи программы</h2>
    <div class="grid-x grid-margin-x about-tasks-items">
      <div class="about-tasks-item cell medium-4 small-12">
        <div class="about-tasks-item--img-container">
          <img
            class="about-tasks-item--img-container__img1"
            src="../assets/img/about-task-1.png"
            alt=""
          />
        </div>
        <p class="header-tiny about-tasks-item__header">Для страны</p>
        <ul class="about-tasks-item--list">
          <li class="about-tasks-item--list__item">
            увеличение доли российской науки на глобальном рынке исследований и
            разработок;
          </li>
          <li class="about-tasks-item--list__item">
            обеспечение привлекательности работы в России для ведущих ученых и
            молодых перспективных исследователей;
          </li>
          <li class="about-tasks-item--list__item">
            кадровое обеспечение приоритетных направлений развития науки,
            технологий, техники, отраслей экономики, социальной сферы;
          </li>
          <li class="about-tasks-item--list__item">
            использование научного, образовательного и инновационного потенциала
            университетов для сокращения срока внедрения инноваций в экономику
            страны и социально-экономического развития субъектов страны.
          </li>
        </ul>
      </div>

      <div class="about-tasks-item cell medium-4 small-12">
        <div class="about-tasks-item--img-container">
          <img
            class="about-tasks-item--img-container__img2"
            src="../assets/img/about-task-2.png"
            alt=""
          />
        </div>
        <p class="header-tiny about-tasks-item__header">Для университетов</p>
        <ul class="about-tasks-item--list">
          <li class="about-tasks-item--list__item">
            повышение научно-технологического потенциала российских
            университетов для создания новых технологий, отраслей и
            конкурентоспособных продуктов;
          </li>
          <li class="about-tasks-item--list__item">
            расширение межинституционального сетевого взаимодействия;
          </li>
          <li class="about-tasks-item--list__item">
            интеграция академической и университетской науки и международная
            кооперация.
          </li>
        </ul>
      </div>

      <div class="about-tasks-item cell medium-4 small-12">
        <div class="about-tasks-item--img-container">
          <img
            class="about-tasks-item--img-container__img3"
            src="../assets/img/about-task-3.png"
            alt=""
          />
        </div>
        <p class="header-tiny about-tasks-item__header">Для общества</p>
        <ul class="about-tasks-item--list">
          <li class="about-tasks-item--list__item">
            обеспечение условий для формирования цифровых компетенций и навыков
            использования цифровых технологий у обучающихся, в том числе у
            студентов ИТ-специальностей;
          </li>
          <li class="about-tasks-item--list__item">
            повышение качества и востребованности образовательных,
            научно-технических, социальных услуг российских университетов.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
