<section class="about-priorities section">
  <div class="about-priorities--container grid-container">
    <h2 class="header about-priorities-header">Приоритеты программы</h2>
    <div class="about-priorities--items grid-x">
      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-1">
          студенты и аспиранты, способные создавать новые идеи и&nbsp;технологии
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-2">
          соответствие содержания образования современному уровню развития науки
          и&nbsp;технологий
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-3">
          выпускники, реализующие комплексные сложные задачи в&nbsp;условиях
          экономики знаний
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-4">
          взаимодействие университетов, научных организаций и&nbsp;предприятий
          для&nbsp;инновационно-технологического развития страны
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-5">
          лучшие практикив научно-исследовательской, образовательной
          и&nbsp;инновационной деятельности
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-6">
          привлекательные условия для&nbsp;трудоустройства ведущих ученых
          и&nbsp;перспективных молодых исследователей
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-7">
          вклад университетов в&nbsp;социально-экономическое развитие субъектов
          Российской Федерации
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-8">
          цифровые компетенциии навыки использования цифровых технологий
        </p>
      </div>

      <div class="about-priorities--item cell large-4 medium-6 small-12">
        <p class="about-priorities__text about-priorities__text-9">
          увеличение доли российской науки на&nbsp;глобальном рынке исследований
          и&nbsp;разработок
        </p>
      </div>
    </div>
  </div>
</section>
