<section class="architecture">
  <div class="architecture-container grid-container">
    <h2 class="header architecture-header cell small-12">
      Архитектура программы
    </h2>

    <div class="grid-x architecture-wrapper">
      <div class="architecture-left cell medium-3 small-12">
        <h5 class="architecture-heading">Что оценивается</h5>
        <div class="left-content">
          <img src="../assets/img/architecture-1.png" alt="" />
          <p class="left-content-text">
            Программа развития университета-кандидата
          </p>
        </div>
        <div>&nbsp;</div>
      </div>

      <div class="architecture-center cell medium-6 small-12 grid-x">
        <h5 class="architecture-heading cell small-12">Грант</h5>

        <div class="center-left cell medium-6 small-12">
          <div class="center-left-top">
            <h6>Специальная часть</h6>
            <p>«Исследовательское лидерство»</p>
          </div>
          <p class="center-left-item">мировая научная повестка</p>
          <p class="center-left-item">прорывные исследования</p>
          <p class="center-left-item">
            интеграция с академическими институтами
          </p>
          <p class="center-left-item">
            подготовка кадров для сектора исследований и разработок
          </p>
          <p class="center-left-item">глобальная конкурентоспособность</p>
        </div>

        <div class="center-right cell medium-6 small-12">
          <div class="center-right-top">
            <h6>Специальная часть</h6>
            <p>«Территориальное и (или) отраслевое лидерство»</p>
          </div>
          <p class="center-right-item">пространственное развитие</p>
          <p class="center-right-item">
            инновационное развитие региональной экономики или отрасли
          </p>
          <p class="center-right-item">интеграция с индустрией</p>
          <p class="center-right-item">
            наращивание технологического потенциала и создание наукоемких
            разработок
          </p>
          <p class="center-right-item">глобальная конкурентоспособность</p>
        </div>

        <div class="center-bottom small-12">
          <div class="center-bottom--content">
            <h6>Базовый грант</h6>
            <p>
              Ежегодный базовый грант 100 млн. ₽ каждому университету-участнику
              (не менее 100 университетов)
            </p>
          </div>
        </div>
      </div>

      <div class="architecture-right cell medium-3 small-12">
        <h5 class="architecture-heading">Кто отбирает</h5>
        <div class="right-content">
          <p class="right-content-text">Совет программы</p>
          <img src="../assets/img/architecture-2.png" alt="" />
        </div>
        <div class="right-content-bottom">
          <p class="right-content-bottom-text">Конкурсная комиссия</p>
          <img src="../assets/img/minobr-orig-big.png" alt="" />
        </div>
      </div>

      <div class="architecture-bottom cell small-12">
        <h4 class="architecture-bottom--heading">Принципы устройства:</h4>
        <p class="architecture-bottom--text">
          продолжительность программы до 2030
        </p>
        <p class="architecture-bottom--text">
          ежегодная оценка результатов участников программы
        </p>
        <p class="architecture-bottom--text">
          ежегодная ротация участников программы по итогам оценки результатов
        </p>
        <p class="architecture-bottom--text">
          размер специальной части гранта зависит от достижений участников
        </p>
        <p class="architecture-bottom--text">грант выделяется на год</p>
      </div>
    </div>
  </div>
</section>
