<section class="about-tabs section grid-container">
  <h2 class="about-tabs-header">
    Ключевой инструмент – поддержка программ развития университетов-участников
  </h2>

  <h5 class="about-tabs-subheader">
    Программы развития университетов направлены на достижение прорывов в
    ключевых областях
  </h5>

  <div class="about-tabs--section">
    <div class="about-tabs--container grid-x">
      <button
        class="cell medium-4 about-tab about-tab--1 about-tab--active"
        data-tab="1"
      >
        Исследования и разработки
      </button>
      <button class="cell medium-4 about-tab about-tab--2" data-tab="2">
        Технологии и инновации
      </button>
      <button class="cell medium-4 about-tab about-tab--3" data-tab="3">
        Человеческий капитал
      </button>
    </div>

    <div
      class="
        grid-x
        about-tabs--content about-tabs--content--1 about-tabs--content--active
      "
    >
      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          создание условий для участия студентов и&nbsp;аспирантов
          в&nbsp;научно-исследовательских и&nbsp;опытно-конструкторских работах,
          инновационных проектах
        </li>
      </div>

      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          развитие и реализация прорывных научных исследований и&nbsp;разработок
        </li>
      </div>
    </div>

    <div class="grid-x about-tabs--content about-tabs--content--2">
      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          развитие материально-технических условий образовательной, научной,
          инновационной, творческой деятельности университетов
        </li>
      </div>

      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          цифровая трансформация университетов и&nbsp;научных организаций
        </li>
      </div>

      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          внедрение в&nbsp;экономику и&nbsp;социальную сферу высоких технологий
        </li>
      </div>
    </div>

    <div class="grid-x about-tabs--content about-tabs--content--3">
      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          подготовка кадров для&nbsp;приоритетных направлений
          научно-технологического развития РФ, субъектов РФ, отраслей экономики
          и&nbsp;социальной сферы
        </li>

        <li class="about-tabs--list__item">
          новые востребованные основные и&nbsp;дополнительные образовательные
          программы
        </li>

        <li class="about-tabs--list__item">
          реализация программ академической мобильности научно-педагогических
          работников и&nbsp;обучающихся
        </li>
      </div>

      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          развитие кадрового потенциала системы высшего образования, привлечение
          в&nbsp;университеты ведущих ученых и&nbsp;специалистов-практиков
        </li>

        <li class="about-tabs--list__item">
          содействие карьере выпускников университетов в&nbsp;секторе
          исследований и&nbsp;разработок в&nbsp;высокотехнологичных отраслях
          экономики
        </li>
      </div>

      <div class="cell medium-4 about-tabs--list">
        <li class="about-tabs--list__item">
          вовлечение обучающихся и&nbsp;работников университетов
          к&nbsp;реализации творческих и&nbsp;социально ориентированных проектов
        </li>

        <li class="about-tabs--list__item">
          тиражирование лучших практик университета в&nbsp;других университетах,
          не&nbsp;являющихся участниками программы
        </li>
      </div>
    </div>
  </div>
</section>
