<section class="cite">
  <div class="grid-container cite-container grid-x">
    <div class="cite-logo cell">
      <img src="../assets/img/cite-logo-2.svg" alt="" />
    </div>
    <div class="cite-quote cell">
      <div class="quote-wrapper">
        <img src="../assets/img/quote.png" alt="" class="quote-icon" />
      </div>

      <h5 class="quote">
        Единая программа государственной поддержки университетов России в целях
        реализации прорывных проектов, направленных на научно-технологическое
        развитие страны
      </h5>
    </div>
    <div class="cite-cred cell">
      <div class="img-container">
        <img src="../assets/img/falk-1.png" alt="" />
      </div>
      <div class="cite-cred--container">
        <h6>Валерий Фальков</h6>
        <p>
          Министр науки и высшего образования <br />
          Российской Федерации
        </p>
      </div>
    </div>
  </div>
</section>
