<div class="grid-container full steps">
  <div class="steps-header-container">
    <h2 class="header steps-header">Этапы конкурсного отбора</h2>
  </div>
  <div class="steps-step">
    <div class="steps-headings">
      <h3 class="a-header round">1 ЭТАП</h3>
      <h4 class="steps-header-small">Подготовка заявки университетом</h4>
    </div>

    <div class="">
      <div class="accordion">
        <div class="a-container active">
          <p class="a-btn">Состав заявки</p>
          <div class="a-panel">
            <div class="content grid-container">
              <p class="text">заявление на&nbsp;участие в&nbsp;отборе</p>
              <p class="text">программа развития университета</p>
              <p class="text">
                письмо организации или&nbsp;органа власти, осуществляющего
                функции и&nbsp;полномочия учредителя университета, включающее
                согласие на&nbsp;участие университета в&nbsp;отборе
                и&nbsp;обязательство по&nbsp;дополнительному финансированию
                университета в&nbsp;случае его&nbsp;признания кандидатом
                на&nbsp;участие в&nbsp;программе
              </p>
              <p class="text">
                документ, подтверждающий полномочия лица, действующего
                от&nbsp;имени университета
              </p>
              <p class="text">
                справка о&nbsp;соответствии университета требованиям
                и&nbsp;критериям для&nbsp;участия в&nbsp;отборе
              </p>
              <a class="document grant-link" href="#popup_2">
                Порядок проведения отбора, пункт&nbsp;3
              </a>
            </div>
          </div>
        </div>

        <div class="a-container">
          <p class="a-btn">Образец проекта программы развития университета</p>
          <div class="a-panel">
            <div class="content grid-container">
              <p class="title">
                Программа развития университета должна быть направлена
                на&nbsp;достижение следующих целей
              </p>
              <p class="text">
                содействие увеличению вклада российских университетов
                в&nbsp;достижение национальных целей развития страны
                на&nbsp;период до&nbsp;2030 года
              </p>
              <p class="text">
                сбалансированное пространственное развитие страны
              </p>
              <p class="text">
                обеспечение доступности качественного высшего образования
                в&nbsp;регионах Российской Федерации
              </p>
              <p class="title">
                Программа развития университета должна учитывать положения
              </p>
              <p class="text">
                стратегии научно-технологического развития Российской Федерации
              </p>
              <p class="text">
                стратегии пространственного развития Российской Федерации
                на&nbsp;период до&nbsp;2025&nbsp;года
              </p>

              <p class="text">
                стратегий социально-экономического развития субъектов Российской
                Федерации
              </p>
              <p class="text">
                отраслевых документов стратегического планирования Российской
                Федерации
              </p>

              <p class="warning">
                Программа развития должна предусматривать реализацию мероприятий
                с&nbsp;формированием консорциумов – объединений,
                в&nbsp;том&nbsp;числе без&nbsp;образования юридического лица,
                с&nbsp;другими университетами и&nbsp;(или)&nbsp;научными
                организациями, независимо от&nbsp;их&nbsp;ведомственной
                принадлежности, и&nbsp;при&nbsp;необходимости с&nbsp;иными
                организациями на&nbsp;основании соглашений о&nbsp;взаимодействии
              </p>

              <a class="document grant-link" href="#popup_3">
                Образец проекта программы развития приведен в&nbsp;конкурсной
                документации
              </a>

              <a class="document grant-link" href="#popup_4">
                Порядок проведения отбора, подпункт «б» пункта&nbsp;3,
                пункт&nbsp;4, пункт&nbsp;7
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="steps-step">
    <div class="steps-headings">
      <h3 class="a-header">2 ЭТАП</h3>
      <h4 class="steps-header-small">Подача заявки университетомм</h4>
    </div>

    <div class="">
      <div class="accordion">
        <div class="a-container">
          <p class="a-btn">
            Формирование заявок осуществляется в&nbsp;личном кабинете
            на&nbsp;сайте
          </p>
          <div class="a-panel">
            <div class="content grid-container">
              <a href="" class="link" target="_blank" rel="noopener noreferrer"
                >Личный кабинет для подачи заявки на участие</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="steps-step">
    <div class="steps-headings">
      <h3 class="a-header">3 ЭТАП</h3>
      <h4 class="steps-header-small">Проверка заявок университетов</h4>
    </div>

    <div class="">
      <div class="accordion">
        <div class="a-container">
          <p class="a-btn">Проведение экспертизы заявок</p>
          <div class="a-panel">
            <div class="content grid-container">
              <p class="title">Проверка заявок</p>

              <p class="text">на&nbsp;комплектность</p>
              <p class="text">на&nbsp;полноту сведений</p>

              <a class="document grant-link" href="#popup_5">
                Порядок проведения отбора, пункт&nbsp;8, пункт&nbsp;11,
                пункт&nbsp;12
              </a>

              <p class="title">Основания для&nbsp;отклонения заявки</p>

              <p class="text">
                несоответствие требованиям и&nbsp;критериям для&nbsp;участия
                в&nbsp;отборе
              </p>
              <p class="text">
                несоответствие требованиям к&nbsp;заявкам, установленным
                в&nbsp;объявлении о&nbsp;проведении отбора
              </p>
              <p class="text">недостоверность представленной информации</p>
              <p class="text">
                подача заявки после даты и&nbsp;(или)&nbsp;времени, определенных
                для&nbsp;подачи заявок
              </p>

              <p class="title">Требования к&nbsp;университетам</p>

              <p class="text">
                отсутствие неуплаченных налогов, сборов и&nbsp;т.д.
              </p>
              <p class="text">
                отсутствие просроченной задолженности по&nbsp;возврату
                в&nbsp;федеральный бюджет грантов, субсидий и&nbsp;т.д.
              </p>
              <p class="text">
                университет не&nbsp;находится в&nbsp;процессе реорганизации
                (за&nbsp;исключением реорганизации в&nbsp;форме присоединения
                к&nbsp;юридическому лицу, являющемуся участником отбора, другого
                юридического лица)
              </p>
              <p class="text">
                в&nbsp;реестре дисквалифицированных лиц&nbsp;отсутствуют
                сведения о&nbsp;руководстве университета
              </p>
              <p class="text">
                университет не&nbsp;является иностранным юридическим лицом
              </p>
              <p class="text">
                университет не&nbsp;является получателем средств
                из&nbsp;федерального бюджета в&nbsp;соответствии с&nbsp;иными
                НПА на&nbsp;цели программы, в&nbsp;т.ч.&nbsp;средств
                на&nbsp;обновление приборной базы ведущих организаций
                в&nbsp;рамках федерального проекта «Развитие инфраструктуры
                для&nbsp;научных исследований и&nbsp;подготовки кадров»
                национального проекта <br />
                «Наука и университеты»
              </p>
              <p class="text">
                обязательство университета по&nbsp;целевому использованию
                средств гранта
              </p>
              <p class="text">
                обязательство университета по&nbsp;достижению ежегодных значений
                показателей
              </p>
              <p class="text">
                обязательство университета по&nbsp;ведению раздельного учета
                средств гранта
              </p>
              <p class="text">
                обязательство университета по&nbsp;публикации в&nbsp;открытом
                доступе на&nbsp;официальном сайте университета программы
                развития, ежегодных отчетов о&nbsp;ее&nbsp;реализации,
                рекомендаций Минобрнауки России и&nbsp;Совета, отчетности
                о&nbsp;финансово-хозяйственной деятельности, аудиторских
                заключений (при&nbsp;наличии)
              </p>
              <p class="text">
                обязательство университета по&nbsp;софинансированию мероприятий
                из&nbsp;внебюджетных средств
              </p>
              <p class="text">
                обязательство университета ежегодно отчитываться
                о&nbsp;реализации программы развития на&nbsp;заседании
                законодательного собрания региона или&nbsp;коллегии профильного
                ФОИВа
              </p>

              <p class="warning">
                Группы критериев для&nbsp;участия в&nbsp;отборе с&nbsp;целью
                включения в&nbsp;перечень участников программы и&nbsp;получения
                <u>гранта</u>
              </p>

              <p class="title">Первая группа критериев</p>

              <p class="text">
                численность обучающихся по&nbsp;образовательным программам
                высшего образования по&nbsp;очной форме обучения – не&nbsp;менее
                4&nbsp;000&nbsp;человек
              </p>
              <p class="text">
                совокупный объем доходов из&nbsp;всех источников – не&nbsp;менее
                1&nbsp;000&nbsp;млн. рублей
              </p>
              <p class="text">
                удельный доходов от&nbsp;НИОКР в&nbsp;общем объеме доходов –
                не&nbsp;менее 5%
              </p>

              <a class="document grant-link" href="#popup_6">
                Порядок проведения отбора, подпункты «а» - «б» пункта&nbsp;9
              </a>

              <p class="title">Вторая группа критериев</p>

              <p class="text">
                доля студентов, зачисленных на&nbsp;первый курс на&nbsp;обучение
                по&nbsp;специальностям и&nbsp;направлениям подготовки высшего
                образования творческой направленности в&nbsp;общем количестве
                первокурсников – не&nbsp;менее 60%
              </p>
              <p class="text">
                наличие письма за&nbsp;подписью руководителя организации,
                осуществляющей функции и&nbsp;полномочия учредителя
                университета, о&nbsp;рекомендации к&nbsp;участию в&nbsp;отборе
                с&nbsp;обоснованием достаточности потенциала университета
                для&nbsp;участия в&nbsp;программе
              </p>

              <p class="warning">
                Группы критериев для&nbsp;участия в&nbsp;отборе с&nbsp;целью
                получения статуса кандидата на&nbsp;участие в&nbsp;<u
                  >программе</u
                >
              </p>

              <p class="title">Третья группа критериев</p>

              <p class="text">
                соответствие двум из&nbsp;трех критериев первой группы
              </p>
              <p class="text">
                обязательство университета по&nbsp;достижению соответствия
                первой группе критериев не&nbsp;позднее 2023 года
              </p>
              <p class="text">
                наличие обязательства органа власти региона, на&nbsp;территории
                которого расположен университет, и&nbsp;(или)&nbsp;профильного
                ФОИВа, и&nbsp;(или)&nbsp;профильной системообразующей
                организации осуществлять дополнительную финансовую поддержку
                реализации программы развития университета в&nbsp;объеме
                не&nbsp;менее 100&nbsp;млн. рублей в&nbsp;год
              </p>

              <p class="title">Четвертая группа критериев</p>

              <p class="text">
                соответствие двум из&nbsp;трех критериев первой группы
              </p>
              <p class="text">
                решение университета об&nbsp;инициировании процедуры
                реорганизации в&nbsp;форме слияния или&nbsp;присоединения
                с&nbsp;другими университетами и&nbsp;(или)&nbsp;научными
                организациями в&nbsp;случае получения статуса кандидата
                на&nbsp;участие в&nbsp;программе
              </p>
              <p class="text">
                обязательство университета по&nbsp;достижению соответствия
                первой группе критериев после объединения,
                но&nbsp;не&nbsp;позднее&nbsp;<u>2023&nbsp;года</u>
              </p>

              <a class="document grant-link" href="#popup_7">
                Порядок проведения отбора, подпункты «в» - «г» пункта&nbsp;9
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="steps-step">
    <div class="steps-headings">
      <h3 class="a-header">4 ЭТАП</h3>
      <h4 class="steps-header-small">Экспертиза Российской академии наук</h4>
    </div>

    <div class="">
      <div class="accordion">
        <div class="a-container">
          <p class="a-btn">
            Экспертиза программ развития университетов Российской академией наук
          </p>
          <div class="a-panel">
            <div class="content grid-container">
              <p class="text-plain">
                Передача программ развития университетов для&nbsp;экспертизы
                в&nbsp;Российскую академию наук
              </p>
              <a class="document grant-link" href="#popup_8">
                Порядок проведения отбора, пункт&nbsp;13
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="steps-step">
    <div class="steps-headings">
      <h3 class="a-header">5 ЭТАП</h3>
      <h4 class="steps-header-small">
        Отбор университетов для предоставления
        <span>базовой части гранта</span>
      </h4>
    </div>

    <div class="">
      <div class="accordion">
        <div class="a-container">
          <p class="a-btn">Заседание Комиссии Минобрнауки России</p>
          <div class="a-panel">
            <div class="content grid-container">
              <p class="title">
                Проведение оценки программ развития университетов
                по&nbsp;критериям
              </p>

              <p class="text-plain">Критерии оценки:</p>

              <p class="text">амбициозность целей и&nbsp;результатов</p>
              <p class="text">
                академическое признание и&nbsp;потенциал университета
              </p>
              <p class="text">
                степень проработанности проекта программы развития университета
              </p>
              <p class="text">
                реализация творческих и&nbsp;социально-гуманитарных проектов
                в&nbsp;рамках «третьей миссии» университета
                и&nbsp;взаимодействие университета с&nbsp;органами
                государственной власти субъектов Российской Федерации, органами
                МСУ, работодателями и&nbsp;их&nbsp;объединениями, организациями
                реального сектора экономики
              </p>
              <p class="text">
                модернизация системы управления университета
                и&nbsp;взаимодействие членов консорциума
              </p>
              <p class="text">
                реорганизация в&nbsp;форме слияния или&nbsp;присоединения
                с&nbsp;другими университетами и&nbsp;(или)&nbsp;научными
                организациями (при&nbsp;включении в&nbsp;программу развития
                соответствующих мероприятий)
              </p>
              <p class="text">
                обеспечение условий для&nbsp;формирования цифровых компетенций
                и&nbsp;навыков использования цифровых технологий
                у&nbsp;обучающихся
              </p>

              <a class="document grant-link" href="#popup_9">
                Порядок проведения отбора, пункт&nbsp;14,&nbsp;17
              </a>

              <p class="title">
                Формирование по&nbsp;результатам рейтингования перечней
              </p>

              <p class="text">университетов – участников программы</p>
              <p class="text">
                университетов – кандидатов на&nbsp;участие в&nbsp;программе
              </p>
              <p class="text">
                университетов – участников программы, претендующих
                на&nbsp;получение специальной части гранта,
                для&nbsp;рассмотрения проектов их&nbsp;программ развития Советом
              </p>

              <a class="document grant-link" href="#popup_10">
                Порядок проведения отбора, пункты 15, 16, подпункт
                «б»&nbsp;пункта&nbsp;11
              </a>
            </div>
          </div>
        </div>

        <div class="a-container">
          <p class="a-btn-inactive line">
            Заседание Комиссии Минобрнауки России
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="steps-step" style="background-color: #e1e4e8">
    <div class="steps-headings">
      <h3 class="a-header dot">6 ЭТАП</h3>
      <h4 class="steps-header-small">
        Отбор университетов для&nbsp;предоставления
        <span>специальной части гранта</span>
      </h4>
    </div>

    <div class="">
      <div class="accordion">
        <div class="a-container" style="background-color: #e1e4e8">
          <p class="a-btn no-line">
            Заседание Совета и&nbsp;Комиссии Совета по&nbsp;направлениям
          </p>
          <div
            class="a-panel"
            style="background-color: rgba(255, 255, 255, 0.3)"
          >
            <div class="content no-line grid-container">
              <p class="title">
                Проведение оценки программ развития университетов Комиссиями
                Совета по&nbsp;направлениям в&nbsp;соответствии
                с&nbsp;критериями
              </p>

              <p class="text-plain">Критерии оценки:</p>

              <p class="text">амбициозность целей и&nbsp;результатов</p>
              <p class="text">
                академическое признание и&nbsp;потенциал университета
              </p>
              <p class="text">
                степень проработанности проекта программы развития университета
              </p>
              <p class="text">
                реализация творческих и&nbsp;социально-гуманитарных проектов
                в&nbsp;рамках «третьей миссии» университета
                и&nbsp;взаимодействие университета с&nbsp;органами
                государственной власти субъектов Российской Федерации, органами
                МСУ, работодателями и&nbsp;их&nbsp;объединениями, организациями
                реального сектора экономики
              </p>
              <p class="text">
                модернизация системы управления университета
                и&nbsp;взаимодействие членов консорциума
              </p>

              <a class="document grant-link" href="#popup_11">
                Положение о&nbsp;Совете, пункты&nbsp;3,&nbsp;8
              </a>
              <a class="document grant-link" href="#popup_12">
                Порядок предоставления грантов, пункт&nbsp;15
              </a>
            </div>
          </div>
        </div>
        <div class="a-container" style="background-color: #e1e4e8">
          <p class="a-btn no-line">
            Принятие Советом решения об&nbsp;университетах – получателях
            специальной части гранта
          </p>
          <div
            class="a-panel"
            style="background-color: rgba(255, 255, 255, 0.3)"
          >
            <div class="content no-line grid-container">
              <a class="document grant-link" href="#popup_13">
                Порядок предоставления грантов, пункт&nbsp;19
              </a>
            </div>
          </div>
        </div>

        <div class="a-container active" style="background-color: #e1e4e8">
          <p class="a-btn-inactive no-line">
            Заседание Комиссии Минобрнауки России для&nbsp;утверждения
            получателей Специальной части гранта
          </p>
        </div>
        <div class="a-container active" style="background-color: #e1e4e8">
          <p class="a-btn-inactive no-line">
            Заключении соглашений с&nbsp;участниками Программы
            о&nbsp;предоставлении Специальной части гранта
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> popups}}
