<section class="grant-firststep grid-x">
  <!-- <div class="grant-firststep-left cell small-1">
    <h6 class="grant-firststep-left__step">1 этап</h6>
    <div class="grant-firststep-right__line"></div>
  </div> -->
  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">1 этап</h6>
        <div
          class="grant-firststep-right__line grant-firststep-right__line-dot"
        ></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Подготовка заявки университетом
      </h5>
    </div>
    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Состав заявки
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">заявление на участие в отборе;</p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              проект программы (программа) развития университета;
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              письмо организации или органа власти, осуществляющего функции и
              полномочия учредителя университета, включающее согласие на участие
              университета в отборе и обязательство по дополнительному
              финансированию университета в случае его признания кандидатом на
              участие в Программе;
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              документ, подтверждающий полномочия лица, действующего от имени
              университета;
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              справка о соответствии университета требованиям и критериям для
              участия в отборе.
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 3
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Образец проекта (программы)
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Образец проекта программы (программы) развития приведен в
              конкурсной <br />
              документации.
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 3
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Содержание заявки
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Проект программы (программа) развития университетов должна быть
              направлены на <br />
              достижение следующих целей:
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              содействие увеличению вклада российских университетов в достижение
              национальных целей <br />
              развития Российской Федерации на период до 2030 года;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              сбалансированное пространственное развитие страны;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обеспечение доступности качественного высшего образования в
              регионах Российской Федерации.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Проект программы (программа) развития университетов должна
              учитывать положения:
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегии научно-технологического развития Российской Федерации;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегии пространственного развития Российской Федерации на
              период до 2025 года;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегий социально-экономического развития субъектов Российской
              Федерации;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              отраслевых документов стратегического планирования Российской
              Федерации.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункт «а» пункта 4
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Проект программы (программа) развития должны дополнительно
              предусматривать реализацию мероприятий с формированием
              консорциумов – объединений, в том числе без образования
              юридического лица, с другими университетами и (или) научными
              организациями, независимо от их ведомственной принадлежности, и
              при необходимости с иными организациями на основании соглашений о
              взаимодействии.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункт «а» пункта 7
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Формирование заявки
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Формирование заявок осуществляется в личном кабинете на сайте.
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              КД
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">2 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">Экспертиза заявок</h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Вскрытие конвертов с заявками
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Проверка заявок
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Допуск университетов к отбору
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">3 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Рассмотрение заявок комиссией
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Экспертная оценка проектов программ (программ) развития
            университетов
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Оценка проектов программ (программ) развития университетов
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Рейтингование университетов
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Отбор участников Программы
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Формирование рекомендаций по корректировке проектов программ
            (программ) развития университетов – получателей базовой части гранта
            и кандидатов на участие в Программе
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div
    class="grant-firststep-right cell small-12"
    style="background-color: #e1e4e8; padding-bottom: 3rem; padding-top: 3.7rem"
  >
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">4 этап</h6>
        <div class="grant-firststep-right__line line--opacity"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Рассмотрение проектов программ (программ) развития Советом
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="grant-firststep-right__list-item--line line--opacity"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Оценка проектов программ (программ) развития университетов
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="grant-firststep-right__list-item--line line--opacity"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Рейтингование университетов
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="grant-firststep-right__list-item--line line--opacity"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Определение количества получателей специальной части гранта и
            размеров коэффициентов
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="grant-firststep-right__list-item--line line--opacity"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Формирование рекомендаций по корректировке проектов программ
            (программ) развития университетов – получателей специальной части
            гранта
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="grant-firststep-right__list-item--line line--opacity"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Определение получателей специальной части гранта
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div
    class="grant-firststep-right cell small-12"
    style="
      background-color: #e1e4e8;
      padding-bottom: 10rem;
      padding-top: 3.7rem;
    "
  >
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">5 этап</h6>
        <div class="grant-firststep-right__line--opacity"></div>
      </div>
      <h5 class="grant-firststep-right__heading">Доведение средств грантов</h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Корректировка программ (программ) развития университетов и
            заключение соглашений о предоставлении гранта
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Проверка выполнения рекомендаций Комиссии Минобрнауки России и
            Совета
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Согласование и утверждение программ (программ) развития
            университетов
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Заключение соглашений о предоставлении грантов
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
