<article class="grant-notice">
  <div class="grid-container">
    <div class="grant-notice-logo cell">
      <img src="../assets/img/minobr-grant.png" alt="" />
    </div>
    <div class="grant-notice-text cell">
      <p class="grant-notice-text__notice">
        Объявление о проведении отбора размещается на официальном сайте
        Минобрнауки России не позднее чем за 30 календарных дней до окончания
        срока приема заявок.
      </p>
      <a class="grant-link grant-notice-text__link" href="">
        <img src="../assets/img/list-icon.png" alt="" />
        Порядок проведения отбора, подпункт «а» пункта 10
      </a>
    </div>
  </div>
</article>
