<section class="grant-firststep grid-x">
  <div class="grant-firststep-right cell small-12">
    <h2 class="header grant-firststep-header">Этапы конкурсного отбора</h2>
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">1 этап</h6>
        <div
          class="grant-firststep-right__line grant-firststep-right__line-dot"
        ></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Подготовка заявки университетом
      </h5>
    </div>
    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Состав заявки
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">заявление на&nbsp;участие в&nbsp;отборе</p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">программа развития университета</p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              письмо организации или&nbsp;органа власти, осуществляющего функции
              и&nbsp;полномочия учредителя университета, включающее согласие
              на&nbsp;участие университета в&nbsp;отборе и&nbsp;обязательство
              по&nbsp;дополнительному финансированию университета в&nbsp;случае
              его&nbsp;признания кандидатом на&nbsp;участие в&nbsp;программе
              <br />
              <!-- <br /> -->
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              документ, подтверждающий полномочия лица, действующего
              от&nbsp;имени университета
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              справка о&nbsp;соответствии университета требованиям
              и&nbsp;критериям для&nbsp;участия в&nbsp;отборе
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 3
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Образец проекта программы развития университета
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Программа развития университета должна быть направлена
              на&nbsp;достижение следующих целей
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              содействие увеличению вклада российских университетов
              в&nbsp;достижение национальных целей развития страны
              на&nbsp;период до&nbsp;2030 года
              <br />
              <!-- <br /> -->
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              сбалансированное пространственное развитие страны
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обеспечение доступности качественного высшего образования
              в&nbsp;регионах Российской Федерации
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Программа развития университета должна учитывать положения
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегии научно-технологического развития Российской Федерации
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегии пространственного развития Российской Федерации
              на&nbsp;период до&nbsp;2025&nbsp;года
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегий социально-экономического развития субъектов Российской
              Федерации
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              отраслевых документов стратегического планирования Российской
              Федерации
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Программа развития должна предусматривать реализацию мероприятий
              с&nbsp;формированием консорциумов – объединений,
              в&nbsp;том&nbsp;числе без&nbsp;образования юридического лица,
              с&nbsp;другими университетами и&nbsp;(или)&nbsp;научными
              организациями, независимо от&nbsp;их&nbsp;ведомственной
              принадлежности, и&nbsp;при&nbsp;необходимости с&nbsp;иными
              организациями на&nbsp;основании соглашений о&nbsp;взаимодействии
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Образец проекта программы развития приведен в&nbsp;конкурсной
              документации
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункт «б» пункта&nbsp;3,
              пункт&nbsp;4, пункт&nbsp;7
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">2 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Подача заявки университетом
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header">
            Формирование заявок осуществляется в&nbsp;личном кабинете
            на&nbsp;сайте ФГБНУ НИИ РИНКЦЭ
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="http://www.extech.ru/"
              class="grant-header--link"
              >ЛК ФГБНУ НИИ РИНКЦЭ</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">3 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Проверка заявок университетов
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Проведение экспертизы заявок
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Проверка заявок</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">на&nbsp;комплектность</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">на&nbsp;полноту сведений</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт&nbsp;8, пункт&nbsp;11,
              пункт&nbsp;12
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Основания для&nbsp;отклонения заявки</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              несоответствие требованиям и&nbsp;критериям для&nbsp;участия
              в&nbsp;отборе
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              несоответствие требованиям к&nbsp;заявкам, установленным
              в&nbsp;объявлении о&nbsp;проведении отбора
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">недостоверность представленной информации</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              подача заявки после даты и&nbsp;(или)&nbsp;времени, определенных
              для&nbsp;подачи заявок
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Требования к&nbsp;университетам</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              отсутствие неуплаченных налогов, сборов и&nbsp;т.д.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              отсутствие просроченной задолженности по&nbsp;возврату
              в&nbsp;федеральный бюджет грантов, субсидий и&nbsp;т.д.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университет не&nbsp;находится в&nbsp;процессе реорганизации
              (за&nbsp;исключением реорганизации в&nbsp;форме присоединения
              к&nbsp;юридическому лицу, являющемуся участником отбора, другого
              юридического лица)
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              в&nbsp;реестре дисквалифицированных лиц&nbsp;отсутствуют сведения
              о&nbsp;руководстве университета
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университет не&nbsp;является иностранным юридическим лицом
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университет не&nbsp;является получателем средств
              из&nbsp;федерального бюджета в&nbsp;соответствии с&nbsp;иными НПА
              на&nbsp;цели программы, в&nbsp;т.ч.&nbsp;средств
              на&nbsp;обновление приборной базы ведущих организаций
              в&nbsp;рамках федерального проекта «Развитие инфраструктуры
              для&nbsp;научных исследований и&nbsp;подготовки кадров»
              национального проекта <br />
              «Наука и университеты»
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по&nbsp;целевому использованию средств
              гранта
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по&nbsp;достижению ежегодных значений
              показателей
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по&nbsp;ведению раздельного учета
              средств гранта
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по&nbsp;публикации в&nbsp;открытом
              доступе на&nbsp;официальном сайте университета программы развития,
              ежегодных отчетов о&nbsp;ее&nbsp;реализации, рекомендаций
              Минобрнауки России и&nbsp;Совета, отчетности
              о&nbsp;финансово-хозяйственной деятельности, аудиторских
              заключений (при&nbsp;наличии)
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по&nbsp;софинансированию мероприятий
              из&nbsp;внебюджетных средств
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета ежегодно отчитываться о&nbsp;реализации
              программы развития на&nbsp;заседании законодательного собрания
              региона или&nbsp;коллегии профильного ФОИВа
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Проверка заявок на&nbsp;соответствие входным критериям отбора
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Группы критериев для&nbsp;участия в&nbsp;отборе с&nbsp;целью
              включения в&nbsp;перечень участников программы и&nbsp;получения
              <u>гранта</u>
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Первая группа критериев</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              численность обучающихся по&nbsp;образовательным программам высшего
              образования по&nbsp;очной форме обучения – не&nbsp;менее
              4&nbsp;000&nbsp;человек
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              совокупный объем доходов из&nbsp;всех источников – не&nbsp;менее
              1&nbsp;000&nbsp;млн. рублей
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              удельный доходов от&nbsp;НИОКР в&nbsp;общем объеме доходов –
              не&nbsp;менее 5%
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункты «а» - «б» пункта 9
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Вторая группа критериев</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              доля студентов, зачисленных на&nbsp;первый курс на&nbsp;обучение
              по&nbsp;специальностям и&nbsp;направлениям подготовки высшего
              образования творческой направленности в&nbsp;общем количестве
              первокурсников – не&nbsp;менее 60%
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              наличие письма за&nbsp;подписью руководителя организации,
              осуществляющей функции и&nbsp;полномочия учредителя университета,
              о&nbsp;рекомендации к&nbsp;участию в&nbsp;отборе
              с&nbsp;обоснованием достаточности потенциала университета
              для&nbsp;участия в&nbsp;программе
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Группы критериев для&nbsp;участия в&nbsp;отборе с&nbsp;целью
              получения статуса кандидата на&nbsp;участие в&nbsp;<u
                >программе</u
              >
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Третья группа критериев</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              соответствие двум из&nbsp;трех критериев первой группы
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по&nbsp;достижению соответствия первой
              группе критериев не&nbsp;позднее 2023 года
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              наличие обязательства органа власти региона, на&nbsp;территории
              которого расположен университет, и&nbsp;(или)&nbsp;профильного
              ФОИВа, и&nbsp;(или)&nbsp;профильной системообразующей организации
              осуществлять дополнительную финансовую поддержку реализации
              программы развития университета в&nbsp;объеме не&nbsp;менее
              100&nbsp;млн. рублей в&nbsp;год <br />
              <br />
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Четвертая группа критериев</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              соответствие двум из&nbsp;трех критериев первой группы
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              решение университета об&nbsp;инициировании процедуры реорганизации
              в&nbsp;форме слияния или&nbsp;присоединения с&nbsp;другими
              университетами и&nbsp;(или)&nbsp;научными организациями
              в&nbsp;случае получения статуса кандидата на&nbsp;участие
              в&nbsp;программе
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по&nbsp;достижению соответствия первой
              группе критериев после объединения,
              но&nbsp;не&nbsp;позднее&nbsp;<u>2023&nbsp;года</u>
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункты «в» - «г» пункта 9
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">4 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Экспертиза Российской академии наук
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Экспертиза программ развития университетов Российской академией наук
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="">
              Передача программ развития университетов для&nbsp;экспертизы
              в&nbsp;Российскую академию наук
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 13
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">5 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Отбор университетов для предоставления <span>базовой части гранта</span>
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Заседание Комиссии Минобрнауки России
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Проведение оценки программ развития университетов
              по&nbsp;критериям
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="">Критерии оценки:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">амбициозность целей и&nbsp;результатов</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              академическое признание и&nbsp;потенциал университета
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              степень проработанности проекта программы развития университета
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              реализация творческих и&nbsp;социально-гуманитарных проектов
              в&nbsp;рамках «третьей миссии» университета и&nbsp;взаимодействие
              университета с&nbsp;органами государственной власти субъектов
              Российской Федерации, органами МСУ, работодателями
              и&nbsp;их&nbsp;объединениями, организациями реального сектора
              экономики
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              модернизация системы управления университета и&nbsp;взаимодействие
              членов консорциума
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              реорганизация в&nbsp;форме слияния или&nbsp;присоединения
              с&nbsp;другими университетами и&nbsp;(или)&nbsp;научными
              организациями (при&nbsp;включении в&nbsp;программу развития
              соответствующих мероприятий)
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обеспечение условий для&nbsp;формирования цифровых компетенций
              и&nbsp;навыков использования цифровых технологий
              у&nbsp;обучающихся
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 14, 17
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Формирование по&nbsp;результатам рейтингования перечней
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">университетов – участников программы</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университетов – кандидатов на&nbsp;участие в&nbsp;программе
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университетов – участников программы, претендующих
              на&nbsp;получение специальной части гранта, для&nbsp;рассмотрения
              проектов их&nbsp;программ развития Советом
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункты 15, 16, подпункт
              «б»&nbsp;пункта&nbsp;11
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="
              grant-firststep-right__list-item--line
              grant-firststep-right__list-item--line-dotbot
            "
          ></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Утверждения получателей и&nbsp;заключение соглашений
            с&nbsp;участниками программы о&nbsp;предоставлении базовой части
            гранта
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div
    class="grant-firststep-right cell small-12"
    style="
      background-color: #e1e4e8;
      padding-bottom: 10rem;
      padding-top: 3.7rem;
    "
  >
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">6 этап</h6>
        <div class="grant-firststep-right__line--opacity"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Отбор университетов для&nbsp;предоставления
        <span>специальной части гранта</span>
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Заседание Совета и&nbsp;Комиссии Совета по&nbsp;направлениям
          </p>
        </div>

        <ul
          class="grant-firststep-right__list-item--list"
          style="background-color: rgba(255, 255, 255, 0.3)"
        >
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <p class="grant-header">
              Проведение оценки программ развития университетов Комиссиями
              Совета по&nbsp;направлениям в&nbsp;соответствии с&nbsp;критериями
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <p class="">Критерии оценки</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <p class="text">амбициозность целей и&nbsp;результатов</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <p class="text">
              академическое признание и&nbsp;потенциал университета
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <p class="text">
              степень проработанности проекта программы развития университета
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <p class="text">
              реализация творческих и&nbsp;социально-гуманитарных проектов
              в&nbsp;рамках «третьей миссии» университета и&nbsp;взаимодействие
              университета с&nbsp;органами государственной власти субъектов
              Российской Федерации, органами МСУ, работодателями
              и&nbsp;их&nbsp;объединениями, организациями реального сектора
              экономики
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <p class="text">
              модернизация системы управления университета и&nbsp;взаимодействие
              членов консорциума
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Положение о&nbsp;Совете, пункты&nbsp;3,&nbsp;8
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок предоставления грантов, пункт&nbsp;15
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Принятие Советом решения об&nbsp;университетах – получателях
            специальной части гранта
          </p>
        </div>

        <ul
          class="grant-firststep-right__list-item--list"
          style="background-color: rgba(255, 255, 255, 0.3)"
        >
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line line--opacity"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок предоставления грантов, пункт 19
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Заседание Комиссии Минобрнауки России для&nbsp;утверждения
            получателей Специальной части гранта
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Заключении соглашений с&nbsp;участниками Программы
            о&nbsp;предоставлении Специальной части гранта
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
