<section class="grant-require section grid-container">
  <h2 class="header grant-require__header">
    Требования к&nbsp;участникам <br> программы
  </h2>
  <article class="grant-require--article">
    <img
      src="../assets/img/icon-require-1.png"
      alt=""
      class="grant-require--article__icon"
    />
    <div class="grant-require--article--text">
      <h3 class="grant-require--article__heading">
        Кто может подать заявку на&nbsp;участие
      </h3>
      <p class="grant-require--article__text">
        Все университеты, кроме: казенных учреждений имеющих неисполненную
        обязанность по&nbsp;уплате налогов, сборов и&nbsp;т.п. имеющих просроченную
        задолженность по&nbsp;возврату в&nbsp;федеральный бюджет грантов, субсидий и&nbsp;т.п.
        находящихся в&nbsp;процессе реорганизации, ликвидации являющихся иностранным
        юридическим лицом уже&nbsp;получающих гранты на&nbsp;цели программы
      </p>
    </div>
  </article>

  <article class="grant-require--article">
    <img
      src="../assets/img/icon-require-2.png"
      alt=""
      class="grant-require--article__icon"
    />
    <div class="grant-require--article--text">
      <h3 class="grant-require--article__heading">
        Обязательства участников программы
      </h3>
      <div class="grant-require--article--list">
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Использование средств гранта для&nbsp;финансирования мероприятий программы развития университета с&nbsp;целью: проведения прорывных научных исследований; реализации современных образовательных программ основанных на&nbsp;решении актуальных научно-исследовательских и&nbsp;практических задач совместно с&nbsp;научно-педагогическими работниками и&nbsp;специалистами научных организаций, компаний реального и&nbsp;финансового секторов экономики, организаций социальной сферы
          </p>
        </li>
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Увеличения вклада университета в&nbsp;развитие региона
          </p>
        </li>
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Формирование консорциумов, с&nbsp;другими университетами или&nbsp;научными организациями (с&nbsp;иными организациями), независимо от&nbsp;их&nbsp;ведомственной принадлежности для&nbsp;реализации мероприятий программы развития университета
          </p>
        </li>
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Обеспечение доступа к&nbsp;открытым данным о&nbsp;ходе реализации программы развития университета, ежегодных отчетов о&nbsp;ее&nbsp;реализации, отчетности о&nbsp;финансово-хозяйственной деятельности, аудиторских заключений
          </p>
        </li>
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Принятие обязательств по&nbsp;обеспечению софинансирования мероприятий программы развития за&nbsp;счет собственных и&nbsp;привлеченных внебюджетных средств
          </p>
        </li>
      </div>
    </div>
  </article>
</section>
