<section class="grant-firststep grid-x">
  <!-- <div class="grant-firststep-left cell small-1">
    <h6 class="grant-firststep-left__step">1 этап</h6>
    <div class="grant-firststep-right__line"></div>
  </div> -->
  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">1 этап</h6>
        <div
          class="grant-firststep-right__line grant-firststep-right__line-dot"
        ></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Подготовка заявки университетом
      </h5>
    </div>
    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Состав заявки
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">заявление на участие в отборе;</p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">программа развития университета</p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              письмо организации или органа власти, осуществляющего функции и
              полномочия учредителя университета, включающее согласие на участие
              университета в отборе и обязательство по дополнительному
              финансированию университета в случае его признания кандидатом на
              участие в Программе; <br />
              <br />
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              документ, подтверждающий полномочия лица, действующего от имени
              университета;
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              справка о соответствии университета требованиям и критериям для
              участия в отборе.
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 3
            </a>
          </li>
        </ul>
      </li>

      <!-- <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Образец проекта (программы)
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Образец проекта программы (программы) развития приведен в
              конкурсной <br />
              документации.
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 3
            </a>
          </li>
        </ul>
      </li> -->

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Образец проекта программы развития университета
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Программа развития университета должна быть направлены на
              достижение <br />
              следующих целей:
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              содействие увеличению вклада российских университетов в достижение
              национальных целей <br />
              развития Российской Федерации на период до 2030 года;
              <br />
              <br />
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              сбалансированное пространственное развитие страны;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обеспечение доступности качественного высшего образования в
              регионах Российской Федерации.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Программа развития университета должна учитывать положения:
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегии научно-технологического развития Российской Федерации;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегии пространственного развития Российской Федерации на
              период до 2025 года;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              стратегий социально-экономического развития субъектов Российской
              Федерации;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              отраслевых документов стратегического планирования Российской
              Федерации.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Программа развития должна предусматривать реализацию мероприятий
              <br />
              с формированием консорциумов – объединений, в том числе без
              образования юридического лица, с другими университетами и (или)
              научными организациями, независимо от их ведомственной
              принадлежности, и при необходимости с иными организациями на
              основании соглашений о взаимодействии.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Образец проекта программы развития приведен в конкурсной
              документации
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункт «б» пункта 3, пункт 4, пункт 7
            </a>
          </li>
        </ul>
      </li>

      <!-- <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Формирование заявки
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Формирование заявок осуществляется в личном кабинете на сайте.
            </p>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              КД
            </a>
          </li>
        </ul>
      </li> -->
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">2 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Подача заявки университетом
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p class="grant-firststep-right__list-item--header" href="">
            Формирование заявок осуществляется в личном кабинете на сайте ФГБНУ
            НИИ РИНКЦЭ
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a href="http://www.extech.ru/" class="grant-header--link"
              >ЛК ФГБНУ НИИ РИНКЦЭ</a
            >
          </li>
        </ul>
      </li>

      <!-- <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Проверка заявок
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Допуск университетов к отбору
          </p>
        </div>
      </li> -->
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">3 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Проверка заявок университетов
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Проведение экспертизы заявок
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Проверка заявок:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">на комплектность;</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">на полноту сведений.</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Образец проекта программы развития приведен в конкурсной
              документации
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Основания для отклонения заявки:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              несоответствие требованиям и критериям для участия в отборе;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              несоответствие требованиям к заявкам, установленным в объявлении о
              проведении отбора;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">недостоверность представленной информации;</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              подача заявки после даты и (или) времени, определенных для подачи
              заявок.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Требования к университетам:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">отсутствие неуплаченных налогов, сборов и т.д.</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              отсутствие просроченной задолженности по возврату в федеральный
              бюджет грантов, субсидий и т.д.;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университет не находится в процессе реорганизации (за исключением
              реорганизации в форме присоединения к юридическому лицу,
              являющемуся участником отбора, другого юридического лица);
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              в реестре дисквалифицированных лиц отсутствуют сведения о
              руководстве университета;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университет не является иностранным юридическим лицом;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университет не является получателем средств из федерального
              бюджета в соответствии с иными НПА на цели Программы, в т.ч.
              средств на обновление приборной базы ведущих организаций в рамках
              федерального проекта «Развитие инфраструктуры для научных
              исследований и подготовки кадров» национального проекта «Наука и
              университеты»;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по целевому использованию средств
              гранта;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по достижению ежегодных значений
              показателей;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по ведению раздельного учета средств
              гранта;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по публикации в открытом доступе на
              официальном сайте университета программы развития, ежегодных
              отчетов о ее реализации, рекомендаций Минобрнауки России и Совета,
              отчетности о финансово-хозяйственной деятельности, аудиторских
              заключений (при наличии);
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по софинансированию мероприятий из
              внебюджетных средств;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета ежегодно отчитываться о реализации
              программы развития на заседании законодательного собрания региона
              или коллегии профильного ФОИВа.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Проверка заявок на соответствие входным критериям отбора
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Группы критериев для участия в отборе с целью включения в перечень
              участников Программы и получения гранта
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Первая группа критериев:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              численность обучающихся по образовательным программам высшего
              образования по очной форме обучения – не менее 4 000 человек;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              совокупный объем доходов из всех источников – не менее 1 000 млн
              рублей;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              удельный доходов от НИОКР в общем объеме доходов – не менее 5%.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункты «а» - «б» пункта 9
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Вторая группа критериев:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              доля студентов, зачисленных на первый курс на обучение по
              специальностям и направлениям подготовки высшего образования
              творческой направленности в общем количестве первокурсников – не
              менее 60%;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              наличие письма за подписью руководителя организации,
              осуществляющей функции и полномочия учредителя университета, о
              рекомендации к участию в отборе с обоснованием достаточности
              потенциала университета для участия в Программе.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header--warning">
              Группы критериев для участия в отборе с целью получения статуса
              кандидата на участие в Программе
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Третья группа критериев:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              соответствие двум из трех критериев первой группы;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по достижению соответствия первой
              группе критериев не позднее 2023 года;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              наличие обязательства органа власти региона, на территории
              которого расположен университет, и (или) профильного ФОИВа, и
              (или) профильной системообразующей организации осуществлять
              дополнительную финансовую поддержку реализации программы развития
              университета в объеме не менее 100 млн рублей в год.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">Четвертая группа критериев:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              соответствие двум из трех критериев первой группы;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              решение университета об инициировании процедуры реорганизации в
              форме слияния или присоединения с другими университетами и (или)
              научными организациями в случае получения статуса кандидата на
              участие в Программе;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обязательство университета по достижению соответствия первой
              группе критериев после объединения, но не позднее 2023 года.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, подпункты «в» - «г» пункта 9
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">4 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Экспертиза Российской академии наук
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Экспертиза программ развития университетов Российской академией наук
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="">
              Обязательство университета по достижению соответствия первой
              группе критериев после объединения, но не позднее 2023 года.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 13
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="grant-firststep-right cell small-12">
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">5 этап</h6>
        <div class="grant-firststep-right__line"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Отбор университетов для предоставления базовой части гранта
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Заседание Комиссии Минобрнауки России
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Проведение оценки программ развития университетов по критериям
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="">Критерии оценки:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">амбициозность целей и результатов;</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              академическое признание и потенциал университета;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              степень проработанности проекта программы (программы) развития
              университета;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              реализация творческих и социально-гуманитарных проектов в рамках
              «третьей миссии» университета и взаимодействие университета с
              органами государственной власти субъектов Российской Федерации,
              органами МСУ, работодателями и их объединениями, организациями
              реального сектора экономики;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              модернизация системы управления университета и взаимодействие
              членов консорциума;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              реорганизация в форме слияния или присоединения с другими
              университетами и (или) научными организациями (при включении в
              программу развития соответствующих мероприятий);
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              обеспечение условий для формирования цифровых компетенций и
              навыков использования цифровых технологий у обучающихся.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункт 14, 17
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Формирование по результатам рейтингования перечней
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">университетов – участников Программы;</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университетов – кандидатов на участие в Программе;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              университетов – участников Программы, претендующих на получение
              специальной части гранта, для рассмотрения проектов их программ
              развития Советом.
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок проведения отбора, пункты 15, 16, подпункт «б» пункта 11
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div class="grant-firststep-right__list-item--line"></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Утверждения получателей и заключение соглашений с участниками
            Программы о предоставлении Базовой части гранта
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div
    class="grant-firststep-right cell small-12"
    style="
      background-color: #e1e4e8;
      padding-bottom: 10rem;
      padding-top: 3.7rem;
    "
  >
    <div class="grant-firststep-right__header">
      <div class="grant-firststep-right__header--stepline">
        <h6 class="grant-firststep-right__step">6 этап</h6>
        <div class="grant-firststep-right__line--opacity"></div>
      </div>
      <h5 class="grant-firststep-right__heading">
        Отбор университетов для предоставления специально части гранта
      </h5>
    </div>

    <ul id="menu" class="js-menu grant-firststep-right__list">
      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Заседание Совета и Комиссии Совета по направлениям
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="grant-header">
              Проведение оценки программ развития университетов Комиссиями
              Совета по направлениям в соответствии с критериями
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="">Критерии оценки:</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">амбициозность целей и результатов;</p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              академическое признание и потенциал университета;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              степень проработанности проекта программы (программы) развития
              университета;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              реализация творческих и социально-гуманитарных проектов в рамках
              «третьей миссии» университета и взаимодействие университета с
              органами государственной власти субъектов Российской Федерации,
              органами МСУ, работодателями и их объединениями, организациями
              реального сектора экономики;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <p class="text">
              модернизация системы управления университета и взаимодействие
              членов консорциума;
            </p>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Положение о Совете, пункты 3, 8;
            </a>
          </li>

          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок предоставления грантов, пункт 15
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Принятие Советом решения об университетах – получателях специальной
            части гранта
          </p>
        </div>

        <ul class="grant-firststep-right__list-item--list">
          <li class="grant-firststep-right__list-item--item">
            <div class="height"></div>
            <div class="line"></div>
            <a class="grant-link" href="">
              <img src="../assets/img/list-icon.png" alt="" />
              Порядок предоставления грантов, пункт 19
            </a>
          </li>
        </ul>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Заседание Комиссии Минобрнауки России для утверждения получателей
            Специальной части гранта.
          </p>
        </div>
      </li>

      <li class="grant-firststep-right__list-item">
        <div class="grant-firststep-right__list-item--top">
          <div
            class="line--opacity grant-firststep-right__list-item--line"
          ></div>
          <p
            class="grant-firststep-right__list-item--header grant-firststep-right__list-item--header-down"
            href=""
          >
            Заключении соглашений с участниками Программы о предоставлении
            Специальной части гранта
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
