<section class="grant-require grid-container">
  <h2 class="header grant-require__header">
    Требования к участникам программы
  </h2>
  <article class="grant-require--article">
    <img
      src="../assets/img/icon-require-1.png"
      alt=""
      class="grant-require--article__icon"
    />
    <div class="grant-require--article--text">
      <h3 class="grant-require--article__heading">
        Кто может подать заявку на участие
      </h3>
      <p class="grant-require--article__text">
        Все университеты, кроме: казенных учреждений имеющих неисполненную
        обязанность по уплате налогов, сборов и т.п. имеющих просроченную
        задолженность по возврату в федеральный бюджет грантов, субсидий и т.п.
        находящихся в процессе реорганизации, ликвидации являющихся иностранным
        юридическим лицом уже получающих гранты на цели Программы.
      </p>
    </div>
  </article>

  <article class="grant-require--article">
    <img
      src="../assets/img/icon-require-2.png"
      alt=""
      class="grant-require--article__icon"
    />
    <div class="grant-require--article--text">
      <h3 class="grant-require--article__heading">
        Обязательства участников Программы
      </h3>
      <div class="grant-require--article--list">
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Использование средств гранта для финансирования мероприятий программы развития университета с целью: проведения прорывных научных исследований; реализации современных образовательных программ основанныхна решении актуальных научно-исследовательских и практических задач совместно с научно-педагогическими работниками и специалистами научных организаций, компаний реального и финансового секторов экономики, организаций социальной сферы; увеличения вклада университета в развитие региона.
          </p>
        </li>
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Формирование консорциумов, с другими университетами или научными организациями (с иными организациями), независимо от их ведомственной принадлежности для реализации мероприятий программы развития университета.
          </p>
        </li>
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Обеспечение доступа к открытым данным о ходе реализации программы развития университета, ежегодных отчетов о ее реализации, отчетности о финансово-хозяйственной деятельности, аудиторских заключений.
          </p>
        </li>
        <li class="grant-require--article--list__item">
          <p class="grant-require--article__text"></p>
            Принятие обязательств по обеспечению софинансирования мероприятий программы развития за счет собственных и привлеченных внебюджетных средств.
          </p>
        </li>
      </div>
    </div>
  </article>
</section>
