<div class="nav-cred-container">
  <div class="grid-container">
    <nav class="nav-cred">
      <ul class="social-links">
        {{> social-links}}
      </ul>
      <aside class="credentials">
        <img src="../assets/img/minobr-orig.png" alt="" />
        <!-- <div>
          <img class="logo-minobr" src="../assets/img/logo-minobr.png" alt="" />
        </div>
        <p class="credentials__text">
          министерство науки и высшего образования российской федерации
        </p> -->
      </aside>
    </nav>
  </div>
</div>
