<nav class="nav grid-container">
  <div class="logo">
    <a href="index.html">
      <img src="../assets/img/logo-1.png" alt="" />
    </a>
  </div>
  <ul class="nav-links">
    <li class="nav-link"><a href="about.html">О программе</a></li>
    <li class="nav-link"><a href="news.html">Новости</a></li>
    <li class="nav-link"><a href="">Подать заявку</a></li>
    <li class="nav-search">
      <a href="">
        <img src="../assets/img/icon-search.png" alt="" />
      </a>
    </li>
  </ul>
</nav>
