<header id="header" class="nav nav-header lock-padding">
  <div class="header__container grid-container">
    <div class="logo">
      <a href="index.html">
        <img class="header__logo" src="../assets/img/logo-1.svg" alt="" />
      </a>
    </div>

    <div class="header__menu h-menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <div class="menu__search">
          <input class="menu__search--search" type="text" placeholder="поиск" />
          <button class="menu__btn">
            <img src="../assets/img/icon-search.png" alt="" />
          </button>
        </div>
        <ul class="menu__list">
          <li class="menu__link"><a href="about.html">О&nbsp;программе</a></li>
          <li class="menu__link">
            <a href="grant.html">Отбор&nbsp;участников</a>
          </li>
          <li class="menu__link"><a href="news.html">Новости</a></li>
          <li class="menu__link">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="http://www.extech.ru/"
              >Подать&nbsp;заявку</a
            >
          </li>
          <li class="menu__link--search">
            <a href="">
              <img src="../assets/img/icon-search.png" alt="" />
            </a>
          </li>

          <li class="menu__link--en">
            <span class="ru">Ру</span>
            <input type="checkbox" class="check" />
            <span class="en">En</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
