<section class="news intro section grid-container">
  <h2 class="header news-heading">Новости</h2>
  <div class="news-buttons filters">
    <button class="filter-option" data-filter="*" onclick="filterNews(event)">
      Все
    </button>
    <button
      class="filter-option"
      data-filter="science"
      onclick="filterNews(event)"
    >
      Наука&nbsp;и&nbsp;технологии
    </button>
    <button
      class="filter-option"
      data-filter="states"
      onclick="filterNews(event)"
    >
      Регионы
    </button>
    <button
      class="filter-option"
      data-filter="talent"
      onclick="filterNews(event)"
    >
      Таланты
    </button>
    <button
      class="filter-option"
      data-filter="parnter"
      onclick="filterNews(event)"
    >
      Партнерство
    </button>
    <button
      class="filter-option"
      data-filter="events"
      onclick="filterNews(event)"
    >
      События
    </button>
  </div>
  <div class="news-container2 grid-x grid-margin-x grid-margin-y">
    <div class="news-item2 science cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-1.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Наука&nbsp;и&nbsp;технологии</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">22 июля 2020</p>
      </div>

      <div class="news-item__text">
        Университетам - участникам ПСАЛ будут выделены дополнительные средства
        на&nbsp;развитие науки
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 states cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-2.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Регионы</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">21&nbsp;июля&nbsp;2020</p>
      </div>

      <div class="news-item__text">
        Старт новой Программы поддержки вузов будет дан в&nbsp;конце сентября
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 talent cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-3.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Таланты</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">15&nbsp;июля&nbsp;2020</p>
      </div>

      <div class="news-item__text">
        Особые условия для&nbsp;творческих вузов
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 parnter cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-4.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Партнерство</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">10 июля 2020</p>
      </div>

      <div class="news-item__text">
        Дизайн Программы стратегического академического лидерства обсужден
        с&nbsp;университетским и&nbsp;академическим сообществом
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 events cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-6.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">События</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">10 июля 2020</p>
      </div>

      <div class="news-item__text">
        Новый проект господдержки вузов учтет позитивный опыт предшествующих
        программ
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 science cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-1.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Наука&nbsp;и&nbsp;технологии</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">22 июля 2020</p>
      </div>

      <div class="news-item__text">
        Университетам - участникам ПСАЛ будут выделены дополнительные средства
        на&nbsp;развитие науки
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 states cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-2.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Регионы</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">21&nbsp;июля&nbsp;2020</p>
      </div>

      <div class="news-item__text">
        Старт новой Программы поддержки вузов будет дан в&nbsp;конце сентября
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 talent cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-3.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Таланты</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">15&nbsp;июля&nbsp;2020</p>
      </div>

      <div class="news-item__text">
        Особые условия для&nbsp;творческих вузов
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 parnter cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-4.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">Партнерство</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">10 июля 2020</p>
      </div>

      <div class="news-item__text">
        Дизайн Программы стратегического академического лидерства обсужден
        с&nbsp; университетским и&nbsp;академическим сообществом
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>

    <div class="news-item2 events cell small-12 medium-6">
      <div class="news-item--img">
        <object data="../assets/img/img-news-6.jpg" type="image/png">
          <img src="../assets/img/no_photo.png" alt="news-image" />
        </object>
      </div>
      <div class="label-date">
        <p class="label-date__label">События</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">10 июля 2020</p>
      </div>

      <div class="news-item__text">
        Новый проект господдержки вузов учтет позитивный опыт предшествующих
        программ
      </div>
      <a href="news.html" class="news-item__btn news-item__btn--main">
        подробнее
      </a>
    </div>
  </div>
  <button id="loadmore" class="btn-main btn-main__news">
    смотреть еще<img src="../assets/img/btn-union.png" alt="" />
  </button>
</section>

<!-- <script>
  ///////////////////////
  // LOAD MORE

  if (document.body.contains(document.querySelector('#loadmore'))) {
    const loadmore = document.querySelector('#loadmore')

    let currentItems = 4
    loadmore.addEventListener('click', (e) => {
      const elementList = [...document.querySelectorAll('.news-item2')]
      for (let i = currentItems; i < currentItems + 2; i++) {
        if (elementList[i]) {
          elementList[i].style.display = 'block'
        }
      }
      currentItems += 2

      // Load more button will be hidden after list fully loaded
      if (currentItems >= elementList.length) {
        event.target.style.display = 'none'
        currentItems = 4
      }
    })
  }

  /////////////////////////////
  // New News-Filter

  window.filterNews = (e) => {
    const loadmore = document.querySelector('#loadmore')
    const news = document.querySelectorAll('.news-item2')
    let filter = e.target.dataset.filter
    if (filter === '*') {
      news.forEach((item, index) => {
        if (index <= 3) {
          item.style.display = 'block'
          if (loadmore) loadmore.style.display = 'block'
        } else item.style.display = 'none'
      })
    } else {
      news.forEach((item) => {
        item.classList.contains(filter)
          ? (item.style.display = 'block')
          : (item.style.display = 'none')
      })
    }
  }
</script> -->
