<section class="news-smi section">
  <div class="grid-container news-smi--container">
    <h2 class="header news-smi__header">СМИ о программе</h2>

    <article class="news-smi--items grid-x grid-margin-x grid-margin-y">
      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">22 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Старт новой программы
        </h6>
        <p class="news-smi--items--item__text">
          Это новый этап в&nbsp;развитии тех&nbsp;программ, которые работали
          в&nbsp;системе высшего образования в&nbsp;предыдущие 15&nbsp;лет.
          Самые известные – это&nbsp;программы национальных исследовательских,
          федеральных, опорных университетов и&nbsp;Проект&nbsp;5-100.
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>

      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">23 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Особые условия для&nbsp;творческих вузов
        </h6>
        <p class="news-smi--items--item__text">
          Новая программа стратегического академического лидерства предполагает
          более тесное сотрудничество Минобрнауки России и&nbsp;Минестерства
          культуры.
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>

      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">24 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Дополнительные средства на&nbsp;развитие науки
        </h6>
        <p class="news-smi--items--item__text">
          Министр науки и&nbsp;высшего образования РФ Валерий&nbsp;Фальков
          провел встречу с&nbsp;молодыми российскими исследователями,
          в&nbsp;которой приняли участие более 20&nbsp;представителей советов
          молодых ученых из&nbsp;17&nbsp;университетов
          и&nbsp;научно-исследовательских институтов.
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>

      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">25 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Старт новой программы
        </h6>
        <p class="news-smi--items--item__text">
          Старт новой Программы поддержки вузов будет дан в&nbsp;конце сентября
          на&nbsp;совещании Министра науки и&nbsp;высшего образования -
          Валерия&nbsp;Фалькова с&nbsp;ректорами университетов Сибирского
          федерального округа участники обсудили предстоящий запуск программы
          стратегического...
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>
    </article>
  </div>
</section>
