<section class="news-section grid-container grid-x">
  <h2 class="header news-section-header cell small-12">Новости</h2>
  <div class="news-section-links cell medium-12">
    <ul class="news-section-links--list">
      <li class="news-section-links__link">все</li>
      <li class="news-section-links__link">наука и технологии</li>
      <li class="news-section-links__link">таланты</li>
      <li class="news-section-links__link">партнерство</li>
      <li class="news-section-links__link">регионы</li>
      <li class="news-section-links__link">события</li>
    </ul>
    <button class="news-section-links__btn">
      все новости
      <img src="../assets/img/btn-union-red.png" alt="" />
    </button>
  </div>
  <section
    class="news-section-container cell small-12 grid-x grid-margin-x grid-margin-y"
  >
    <div class="news-section-item cell small-12 medium-6">
      <div class="news-section-item--img news-section-item--img__1">&nbsp;</div>
      <div class="label-date">
        <p class="label-date__label">наука и технологии</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">22 июля</p>
      </div>
      <div class="news-section-item__text">
        Университетам – участникам ПСАЛ будут выделены дополнительные средства
        на развитие науки
      </div>
      <button class="news-section-item__btn">
        подробнее <img src="../assets/img/btn-union-red.png" alt="" />
      </button>
    </div>

    <div class="news-section-item cell small-12 medium-6">
      <div class="news-section-item--img news-section-item--img__2">&nbsp;</div>
      <div class="label-date">
        <p class="label-date__label">Таланты</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">15 июля</p>
      </div>
      <div class="news-section-item__text">
        Особые условия для творческих вузов
      </div>
      <button class="news-section-item__btn">
        подробнее <img src="../assets/img/btn-union-red.png" alt="" />
      </button>
    </div>

    <div class="news-section-item cell small-12 medium-6">
      <div class="news-section-item--img news-section-item--img__3">&nbsp;</div>
      <div class="label-date">
        <p class="label-date__label">регионы</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">21 июля</p>
      </div>
      <div class="news-section-item__text">
        Старт новой Программы поддержки вузов будет дан в конце сентября
      </div>
      <button class="news-section-item__btn">
        подробнее <img src="../assets/img/btn-union-red.png" alt="" />
      </button>
    </div>

    <div class="news-section-item cell small-12 medium-6">
      <div class="news-section-item--img news-section-item--img__4">&nbsp;</div>
      <div class="label-date">
        <p class="label-date__label">партнерство</p>
        <img src="../assets/img/news-slash.png" alt="" />
        <p class="label-date__date">10 июля</p>
      </div>
      <div class="news-section-item__text">
        Дизайн Программы стратегического академического лидерства обсужден...
      </div>
      <button class="news-section-item__btn">
        подробнее <img src="../assets/img/btn-union-red.png" alt="" />
      </button>
    </div>
  </section>
</section>
