<section class="uni-news section">
  <div class="uni-news-container grid-container">
    <h2 class="header uni-news__header">Новости университетов</h2>

    <div class="owl-carousel owl-theme owl-loaded uni-news-items grid-x">
      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img">
          <img src="../assets/img/img-uninews-1.jpg" alt="news image" />
        </div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые сделали шаг к расширению применения магнитных жидкостей в
          медицине и технике
        </p>
        <button class="news-item__btn uni-news-item__btn">читать далее</button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img">
          <img src="../assets/img/img-uninews-2.jpg" alt="news image" />
        </div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые открыли атомные «механизмы», увеличивающие эффективность
          солнечных батарей
        </p>
        <button class="news-item__btn uni-news-item__btn">читать далее</button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img">
          <img src="../assets/img/img-uninews-3.jpg" alt="news image" />
        </div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          ТГУ включается в реализацию новой стратегии развития Арктики
        </p>
        <button class="news-item__btn uni-news-item__btn">читать далее</button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img">
          <img src="../assets/img/img-uninews-1.jpg" alt="news image" />
        </div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые сделали шаг к расширению применения магнитных жидкостей в
          медицине и технике
        </p>
        <button class="news-item__btn uni-news-item__btn">читать далее</button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img">
          <img src="../assets/img/img-uninews-2.jpg" alt="news image" />
        </div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые открыли атомные «механизмы», увеличивающие эффективность
          солнечных батарей
        </p>
        <button class="news-item__btn uni-news-item__btn">читать далее</button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img">
          <img src="../assets/img/img-uninews-3.jpg" alt="news image" />
        </div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          ТГУ включается в реализацию новой стратегии развития Арктики
        </p>
        <button class="news-item__btn uni-news-item__btn">читать далее</button>
      </div>
    </div>
  </div>
</section>
