<section class="uni-news">
  <div class="uni-news-container grid-container">
    <h2 class="header uni-news__header">Новости университетов</h2>

    <div class="owl-carousel uni-news-items">
      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img uni-news-item__img--1">&nbsp;</div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые сделали шаг к расширению применения магнитных жидкостей в
          медицине и технике
        </p>
        <button class="news-item__btn uni-news-item__btn">
          читать далее <img src="../assets/img/btn-union-red.png" alt="" />
        </button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img uni-news-item__img--2">&nbsp;</div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые открыли атомные «механизмы», увеличивающие эффективность
          солнечных батарей
        </p>
        <button class="news-item__btn uni-news-item__btn">
          читать далее <img src="../assets/img/btn-union-red.png" alt="" />
        </button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img uni-news-item__img--3">&nbsp;</div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          ТГУ включается в реализацию новой стратегии развития Арктики
        </p>
        <button class="news-item__btn uni-news-item__btn">
          читать далее <img src="../assets/img/btn-union-red.png" alt="" />
        </button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img uni-news-item__img--1">&nbsp;</div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые сделали шаг к расширению применения магнитных жидкостей в
          медицине и технике
        </p>
        <button class="news-item__btn uni-news-item__btn">
          читать далее <img src="../assets/img/btn-union-red.png" alt="" />
        </button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img uni-news-item__img--2">&nbsp;</div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          Ученые открыли атомные «механизмы», увеличивающие эффективность
          солнечных батарей
        </p>
        <button class="news-item__btn uni-news-item__btn">
          читать далее <img src="../assets/img/btn-union-red.png" alt="" />
        </button>
      </div>

      <div class="uni-news-item cell medium-4 small-12">
        <div class="uni-news-item__img uni-news-item__img--3">&nbsp;</div>
        <p class="uni-news-item__date">22 июля</p>
        <p class="uni-news-item__text">
          ТГУ включается в реализацию новой стратегии развития Арктики
        </p>
        <button class="news-item__btn uni-news-item__btn">
          читать далее <img src="../assets/img/btn-union-red.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>

<!-- <div class="owl-carousel">
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
</div> -->
