<section class="news-smi">
  <div class="grid-container news-smi--container">
    <h2 class="header news-smi__header">СМИ о программе</h2>

    <article class="news-smi--items grid-x grid-margin-x grid-margin-y">
      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">22 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Старт новой программы
        </h6>
        <p class="news-smi--items--item__text">
          Это новый этап в развитии тех программ, которые работали в системе
          высшего образования в предыдущие 15 лет. Самые известные – это
          программы национальных исследовательских, федеральных, опорных
          университетов и Проект 5-100.
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>

      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">23 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Особые условия для творческих ВУЗов
        </h6>
        <p class="news-smi--items--item__text">
          Новая Программа стратегического академического лидерства предполагает
          более тесное сотрудничество Минобрнауки России и Минестерства
          культуры.
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>

      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">24 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Дополнительные средства на развитие науки
        </h6>
        <p class="news-smi--items--item__text">
          Министр науки и высшего образования РФ Валерий Фальков провел встречу
          с молодыми российскими исследователями, в которой приняли участие
          более 20 представителей советов молодых ученых из 17 вузов и
          научно-исследовательских институтов.
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>

      <div class="news-smi--items--item cell large-3 medium-6 small-12">
        <p class="news-smi--items--item__date">25 июля</p>
        <h6 class="header-small news-smi--items--item__header">
          Старт новой программы
        </h6>
        <p class="news-smi--items--item__text">
          Старт новой Программы поддержки вузов будет дан в конце сентября На
          совещании Министра науки и высшего образования РФ Валерия Фалькова с
          ректорами вузов Сибирского федерального округа участники обсудили
          предстоящий запуск Программы стратегического...
        </p>
        <button class="news-item__btn">читать далее</button>
      </div>
    </article>
  </div>
</section>
