<div class="wrapper"></div>

<div class="popup" id="popup_1">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок проведения отбора, подпункт «а»&nbsp;пункта&nbsp;10
      </div>
      <div class="popup__text">
        Министерство науки и высшего образования Российской Федерации в целях
        обеспечения проведения отбора: а) размещает не менее чем за 30
        календарных дней до истечения срока подачи заявок на едином портале
        бюджетной системы Российской Федерации в сети "Интернет" (далее – единый
        портал), а также на официальном сайте Министерства науки и высшего
        образования Российской Федерации в сети "Интернет" объявление
        о проведении отбора с указанием: сроков проведения отбора (даты и
        времени начала (окончания) подачи (приема) заявок участников отбора), а
        также информации о возможности проведения нескольких этапов отбора с
        указанием сроков (порядка) их проведения (при необходимости); места
        нахождения, почтового адреса, адреса электронной почты Министерства
        науки и высшего образования Российской Федерации; результата
        предоставления гранта, предусмотренного пунктом 8 Порядка предоставления
        грантов, и показателей результата предоставления грантов;  доменного
        имени, и (или) сетевого адреса, и (или) указателей страниц сайта в сети
        "Интернет", на котором обеспечивается проведение отбора; требований к
        участникам отбора, в соответствии с пунктами 8 и 9 настоящего Порядка, и
        перечня документов, представляемых участниками отбора для подтверждения
        их соответствия указанным требованиям; порядка подачи заявок участниками
        отбора и требований, предъявляемых к форме и содержанию заявок; порядка
        отзыва и возврата заявок, определяющего в том числе основания для
        возврата заявок, порядка внесения изменений в заявки; правил
        рассмотрения и оценки заявок в соответствии с пунктами 11-17 настоящего
        Порядка; порядка предоставления участникам отбора разъяснений положений
        объявления о проведении отбора, даты начала и окончания срока такого
        предоставления; порядка и сроков заключения соглашения о предоставлении
        базовой части гранта и дополнительного соглашения к нему о
        предоставлении специальной части гранта согласно пунктам 22-27 Порядка
        предоставления грантов, в том числе условий признания победителя
        (победителей) отбора уклонившимся от заключения соглашения; сроки
        размещения на едином портале и официальном сайте Министерства науки и
        высшего образования Российской Федерации в сети "Интернет" информации о
        результатах отбора; отчетного периода для расчета значений показателей,
        включенных в критерии, указанные в подпункте "а" пункта 9 настоящего
        Порядка;  рекомендуемый образец оформления программы развития
        университета;  рекомендуемый образец оформления заявления на участие в
        отборе
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_2">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">Порядок проведения отбора, пункт&nbsp;3</div>
      <div class="popup__text">
        Университеты для&nbsp;участия в&nbsp;отборе в&nbsp;течение
        30&nbsp;календарных дней со&nbsp;дня&nbsp;начала приема документов
        на&nbsp;участие в&nbsp;отборе представляют в&nbsp;Министерство науки
        и&nbsp;высшего образования Российской Федерации пакет документов (далее
        – заявка)
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_3">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Образец проекта программы развития приведен в&nbsp;конкурсной
        документации
      </div>
      <div class="popup__text">В разработке</div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_4">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок проведения отбора, подпункт «б» пункта&nbsp;3, пункт&nbsp;4,
        пункт&nbsp;7
      </div>
      <div class="popup__text">
        Проекты программ (программы) развития университетов должны быть
        направлены на&nbsp;достижение целей, указанных в&nbsp;постановлении
        Правительства Российской Федерации от&nbsp;№ , с&nbsp;учетом положений:
        подробнее
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_5">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок проведения отбора, пункт&nbsp;8, пункт&nbsp;11, пункт&nbsp;12
      </div>
      <div class="popup__text">
        Участниками отбора являются университеты, представившие заявки
        и&nbsp;признанные комиссией Министерства науки и&nbsp;высшего
        образования Российской Федерации по&nbsp;проведению отбора университетов
        в&nbsp;целях участия в&nbsp;программе "ПРИОРИТЕТ-2030" (далее – комиссия
        Министерства) соответствующими на&nbsp;1-е&nbsp;число месяца,
        предшествующего месяцу проведения отбора, следующим требованиям (далее –
        университет-конкурсант)
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_6">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок проведения отбора, подпункты «а» - «б» пункта&nbsp;9
      </div>
      <div class="popup__text">
        Университет-конкурсант должен удовлетворять одной из&nbsp;следующих
        групп критериев для&nbsp;участия в&nbsp;отборе (далее – критерии допуска
        к&nbsp;отбору): а)&nbsp;первая группа критериев допуска к&nbsp;отбору
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_7">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок проведения отбора, подпункты «в» - «г» пункта&nbsp;9
      </div>
      <div class="popup__text">
        Третья группа критериев допуска к&nbsp;отбору: университет удовлетворяет
        двум из&nbsp;трех критериев допуска к&nbsp;отбору, указанным
        в&nbsp;подпункте "а"&nbsp;настоящего пункта; наличие обязательства
        университета по&nbsp;выполнению всех критериев, указанных
        в&nbsp;подпункте "а"&nbsp;настоящего пункта не&nbsp;позднее чем через
        2&nbsp;года после года, в&nbsp;котором проводится отбор
        (по&nbsp;состоянию на&nbsp;31&nbsp;декабря)
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_8">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">Порядок проведения отбора, пункт&nbsp;13</div>
      <div class="popup__text">
        Министерство науки и&nbsp;высшего образования Российской Федерации:
        утверждает порядок экспертной оценки проектов программ (программ)
        развития университетов, представленных в&nbsp;составе заявок
        и&nbsp;допущенных к&nbsp;участию в&nbsp;отборе (далее – экспертная
        оценка)
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_9">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок проведения отбора, пункт&nbsp;14,&nbsp;17
      </div>
      <div class="popup__text">
        Комиссия Министерства проводит оценку проектов программ (программ)
        развития университетов – конкурсантов по&nbsp;критериям оценки,
        в&nbsp;том&nbsp;числе с&nbsp;учетом экспертной оценки, предусмотренной
        пунктом 13 настоящего Порядка, и&nbsp;формирует рейтинг университетов
        в&nbsp;сроки, установленные в&nbsp;объявлении о&nbsp;проведении отбора
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_10">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок проведения отбора, пункты 15, 16, подпункт
        «б»&nbsp;пункта&nbsp;11
      </div>
      <div class="popup__text">
        Комиссия Министерства подводит итоги отбора, определяет победителей
        отбора с&nbsp;учетом результатов рейтингования ею&nbsp;заявок
        университетов, а&nbsp;также протокола оценки проектов программ
        (программ) развития университетов творческой направленности
        и&nbsp;готовит итоговый протокол по&nbsp;результатам отбора
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_11">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Положение о&nbsp;Совете, пункты&nbsp;3,&nbsp;8
      </div>
      <div class="popup__text">
        Совет осуществляет следующие функции: а) рассматривает и&nbsp;оценивает
        проекты программ (программы) развития университетов-конкурсантов
        с&nbsp;применением критериев, установленных подпунктах "а" - "е" пункта
        17&nbsp;Порядка проведения отбора
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_12">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок предоставления грантов, пункт&nbsp;15
      </div>
      <div class="popup__text">
        Совет осуществляет следующие функции: а) рассматривает и&nbsp;оценивает
        проекты программ (программы) развития университетов-конкурсантов
        с&nbsp;применением критериев, установленных подпунктах "а" - "е" пункта
        17&nbsp;Порядка проведения отбора
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>

<div class="popup" id="popup_13">
  <a href="#header" class="popup__area"></a>
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">
        <img src="../assets/img/icon-close-modal.png" alt="close icon" />
      </a>
      <div class="popup__title">
        Порядок предоставления грантов, пункт&nbsp;19
      </div>
      <div class="popup__text">
        Университеты - участники Программы, которым предоставляется специальная
        часть гранта, определяются решением комиссии Министерства с&nbsp;учетом
        результатов рассмотрения и&nbsp;оценки проектов программ (программ)
        развития университетов и&nbsp;(или)&nbsp;отчетов
        об&nbsp;их&nbsp;реализации Советом (в&nbsp;порядке, предусмотренном
        пунктами 15&nbsp;и&nbsp;18&nbsp;настоящего Порядка)
      </div>
      <a href="#" class="popup__btn">скачать весь документ</a>
    </div>
  </div>
</div>
