<section class="selection-rules section grid-x">
  <div class="selection-rules-wrapper">
    <img src="../assets/img/spiral.png" alt="" />
  </div>

  <div class="cell grid-container grid-x">
    <div class="selection-rules-left cell medium-6">
      <h2 class="header selection-rules__header">Участие в программе</h2>
    </div>
    <div class="selection-rules-right cell medium-6">
      <h6 class="selection-rules-right__header">отбор участников</h6>
      <p class="selection-rules-right__text">
        Правила и порядок отбора российсĸих университетов
      </p>
      <a href="grant.html" class="selection-rules-right__btn">
        подробнее <img src="../assets/img/btn-union-red.png" alt="" />
      </a>
    </div>
  </div>
</section>
