<section class="submit section">
  <div class="submit-container grid-container grid-x">
    <div
      class="submit-left cell medium-6 small-12 small-order-2 medium-order-1"
    >
      <h3 class="submit-left__header">До окончания приема заявок</h3>
      {{> countdown}}
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="http://www.extech.ru/"
        class="btn-main btn-submit"
      >
        Подать заявку <img src="../assets/img/btn-union.png" alt="button" />
      </a>
    </div>
    <div
      class="submit-right cell medium-6 small-12 small-order-1 medium-order-2"
    ></div>
  </div>
</section>
