<section class="timeline-header section grid-container">
  <h2 class="header timeline-heading">Ход программы</h2>
  <h1 class="year timeline-year">2О21</h1>
</section>

<br />

<div class="grid-container">
  <div class="process-wrapper">
    <div id="progress-bar-container">
      <ul>
        <li class="step step01 active">
          <div class="step-inner">
            <p>
              Выход постановления Правительства Российской Федерации
              о&nbsp;программе «ПРИОРИТЕТ-2030»
            </p>
          </div>
        </li>
        <li class="step step02">
          <div class="step-inner">
            <p>
              Объявление Минобрнауки России конкурсного отбора университетов
              для&nbsp;участия в&nbsp;программе «ПРИОРИТЕТ-2030»
            </p>
          </div>
        </li>
        <li class="step step03">
          <div class="step-inner">
            <p>
              Отбор университетов для&nbsp;предоставления базовой части гранта
              на&nbsp;программы развития
            </p>
          </div>
        </li>
        <li class="step step04">
          <div class="step-inner">
            <p>
              Отбор университетов для&nbsp;предоставления специальной части
              гранта на&nbsp;программы развития
            </p>
          </div>
        </li>
      </ul>

      <div id="line">
        <div id="line-progress"></div>
      </div>
    </div>
  </div>
</div>
