<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Приоритет2030</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link
      href="../assets/fontawesome-free-5.15.1-web/css/all.css"
      rel="stylesheet"
    />
    <link
      href="../assets/fonts/stylesheet.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../assets/owlcarousel/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="../assets/owlcarousel/owl.theme.default.min.css"
    />
  </head>
  <body>
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
    <script src="../assets/owlcarousel/owl.carousel.min.js"></script>
  </body>
</html>
